@import '../../mixins/variables';

.heart-active {
    color: $light-red;
}

.strain-detail-wrapper {
    display: block;
    width: 100%;
    margin: 2em auto 0;
    color: $grey-normal;

    .fa-2x {
        font-size: 1.5em;
    }

    .detail-section {
        display: block;
        width: 90%;
        margin: 0 auto 3em;

        .back-to-search-wrapper {
            margin-bottom: 1em;

            i {
                margin-right: 0.5em;
            }
        }

        .second-row {
            margin-top: 2em;
        }

        .second-row .photo-controls {
            display: inline-block;
            text-align: left;
            width: 45%;
        }

        .second-row .location-controls {
            display: inline-block;
            text-align: right;
            width: 54%;

            .filter-menu {
                .active-link {
                    color: $iris-blue;
                    cursor: pointer;
                }

                .locations-area {
                    position: absolute;
                    right: 10%;
                    background: $white;
                    width: 45%;
                    border: 1px solid $grey-normal;
                    padding: 8px;
                    color: $black;
                    z-index: 2;

                    .message {
                        margin: 1em;
                        text-align: center;
                        font-size: 1.5em;
                    }

                    .locations-area-header {
                        display: block;
                        line-height: 2.5em;
                        font-weight: bold;
                        text-align: center;

                        .column {
                            display: inline-block;
                            text-align: left;
                            font-weight: bold;

                            .col-name {
                                display: inline-block;
                            }

                            i {
                                display: inline-block;
                                color: $iris-blue;
                                cursor: pointer;
                            }
                        }

                        .col-1 {
                            width: 38%;
                            float: left;
                        }

                        .col-2 {
                            width: 22%;
                            float: left;
                        }

                        .col-3 {
                            width: 18%;
                            text-align: center;
                        }

                        .col-4 {
                            width: 17%;
                            text-align: center;
                        }

                        .price-expander {
                            cursor: pointer;
                        }

                        .prices-wrapper {
                            position: absolute;
                            right: 1em;
                            top: 16%;
                            background: #fff;
                            border: 1px solid $black;
                            padding: 10px;

                            .price {
                                display: block;
                                cursor: pointer;
                            }

                            .price:hover {
                                color: $iris-blue;
                            }
                        }
                    }

                    .locations-area-body {
                        display: block;
                        line-height: 2.5em;
                        text-align: center;

                        .dispensary {
                            margin-bottom: 1em;

                            .col-1 {
                                display: inline-block;
                                width: 38%;
                                color: $iris-blue;
                                text-align: left;
                                vertical-align: top;
                                float: left;

                                .name {
                                    display: inline-block;
                                    float: left;
                                    width: 78%;
                                }

                                .icon {
                                    display: inline-block;
                                    float: right;
                                    margin-right: 10px;
                                    color: $black;
                                }
                            }

                            .col-2 {
                                display: inline-block;
                                width: 22%;
                                text-align: left;
                                float: left;
                                margin-left: -10px;
                                margin-top: 2px;
                            }

                            .col-3 {
                                display: inline-block;
                                width: 17%;
                                text-align: right;
                            }

                            .col-4 {
                                display: inline-block;
                                width: 17%;
                                text-align: right;
                            }

                            .price-values {
                                .price-value {
                                    display: none;
                                }

                                .price-value.active {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        .strain-photo-wrapper {
            display: inline-block;
            width: 77%;
            vertical-align: top;
            margin: 1em auto;
            text-align: left;
        }

        .strain-photo-wrapper img {
            width: 100%;
        }

        .strain-info-wrapper {
            display: inline-block;
            width: 19%;
            text-align: center;
            float: right;
            margin: 2em auto;

            .popularity-wrapper .title {
                font-size: 1.5em;
            }

            .popularity-wrapper h1 {
                margin: 0 auto;
                font-size: 7em;
                width: 1em;
                border-bottom: 1px solid $grey-light;
                padding-bottom: 10px;
            }

            .match-score-wrapper {
                margin-top: 2em;

                .title {
                    display: block;
                    font-size: 1.5em;
                }

                .score-value {
                    font-size: 5em;
                }

                .percent-sign {
                    font-size: 2.4em;
                    vertical-align: top;
                    position: relative;
                    top: 10px;
                    z-index: 1;
                }
            }
        }

        .section-header {
            display: block;
            font-size: 1.4em;
            margin-bottom: 10px;
        }

        .section-header span {
            display: block;
        }

        .section-header span.disagree-link {
            display: block;
            text-align: right;
            font-size: 0.7em;
            font-weight: bold;
            padding-right: 0.5%;
        }

        .strain-data {
            display: inline-block;
            width: 80%;

            .strain-name {
                font-size: 2em;
            }

            .strain-like-wrapper {
                display: inline-block;
                vertical-align: bottom;
                width: 2em;
                height: 2em;
                text-align: center;
            }

            .strain-like {
                cursor: pointer;
            }

            .rating-row {
                display: block;
                margin-top: 0.5em;
            }

            .rating-row span {
                display: inline-block;
            }
        }

        .social-icons {
            display: inline-block;
            width: 20%;
            float: right;
            text-align: right;
            cursor: default;

            a {
                color: $grey-normal;
            }

            a:hover {
                color: $iris-blue;
            }
        }

        .strain-about span {
            display: block;
            width: 100%;
            word-wrap: break-word;
            white-space: normal;
            text-align: justify;
        }

        .strain-about span.about {
            line-height: 1.8em;
        }

        .strain-effects .effects-region {
            display: block;
        }

        .effects-wrapper {
            .effect-wrapper {
                display: block;
                height: 2em;
                margin-bottom: 0.8em;
            }

            .effect-name {
                display: inline-block;
                width: 10%;
                position: relative;
                vertical-align: top;
                line-height: 1em;

                span {
                    display: table-cell;
                    position: relative;
                    vertical-align: middle;
                    height: 2em;
                }
            }

            .effect-name.missing-name {
                color: $light-red;
            }

            .effect.missing-effect {
                .user-fill {
                    // this pattern was generated with http://www.patternify.com/
                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAK3rS3/M8L4II7q0eOMYAEYB8RmROaABACxvQ5TLDlcxgAAAABJRU5ErkJggg==) repeat;
                }
            }

            .effect {
                display: inline-block;
                position: relative;
                width: 89%;
                height: 2em;
                background-color: $white-smoke;

                .fill {
                    display: inline-block;
                    height: 2em;
                    background-color: $aero-blue;
                }

                .user-fill {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 2em;
                    // this pattern was generated with http://www.patternify.com/
                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEjpMcPgAAAABJRU5ErkJggg==) repeat;
                    z-index: 1;
                }

                .tear {
                    display: inline-block;
                    position: relative;
                    bottom: 6px;
                    width: 30px;
                    height: 30px;
                    float: right;
                    margin-right: -14px;
                    border-radius: 0 50% 50% 50%;
                    border: 3px solid $grey-dark;
                    background-color: $grey-dark;
                    transform: rotate(225deg);

                    .tear-value {
                        display: block;
                        position: absolute;
                        top: 4px;
                        left: 4px;
                        width: 16px;
                        height: 16px;
                        margin: 0;
                        transform: rotate(135deg);
                        background-color: $white-smoke;
                        border-radius: 50%;
                        text-align: center;
                        color: $grey-dark;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .strain-header-section {
        margin-bottom: 0;
    }

    .strain-similar {
        .also-like-strains-wrapper {
            overflow: auto;
            width: 100%;

            .similar-strains-wrapper {
                width: auto;

                .similar-wrapper {
                    display: inline-block;
                    padding: 0.5em;
                    border: 1px solid $grey-light;
                    margin-bottom: 0.25em;

                    .name {
                        font-weight: bold;
                        font-size: 0.9em;

                        .image {
                            margin-bottom: 0.5em;
                            width: 100%;

                            img {
                                display: block;
                                height: 100%;
                                max-height: 7em;
                                max-width: 100%;
                                margin: 0 auto;
                            }
                        }
                    }

                    .variety {
                        color: $grey-normal;
                        font-size: 0.8em;
                        margin-top: 0.5em;
                    }
                }
            }
        }
    }

    .strain-reviews {
        .section-header {
            span {
                display: inline-block;
            }
        }

        .all-reviews-link-wrapper a {
            font-size: 0.7em;
            color: $avocado-green;
            text-decoration: underline;
            margin-left: 1em;
        }

        .review-wrapper {
            display: block;
            position: relative;
            width: 100%;
            margin-bottom: 2em;

            .user-info {
                display: inline-block;
                position: relative;
                width: 8%;
                text-align: left;

                .user-image {
                    display: inline-block;
                    width: 4em;
                    height: 4em;
                    margin: 0 auto;
                    border: 1px solid $grey-light;
                    border-radius: 4em;

                    .image {
                        display: block;
                        width: 4em;
                        height: 4em;
                        background-size: cover;
                        border-radius: 50%;
                        margin: -0.05em;
                    }

                    .default-image {
                        display: block;
                        height: 2em;
                        width: 2em;
                        background-color: $grey;
                        color: $grey-lighter;
                        border-radius: 1em;
                        margin: -0.02em 0 0 -0.01em;
                        font-size: 2em;

                        span {
                            display: block;
                            width: 60%;
                            line-height: 2em;
                            text-align: center;
                            margin: 0 auto;
                        }
                    }
                }
            }

            .review {
                display: inline-block;
                width: 90%;
                vertical-align: top;

                .review-header {
                    .user-name {
                        font-weight: bold;
                    }

                    .rating {
                        display: inline-block;
                    }

                    .created-date {
                        font-weight: bold;
                        text-decoration: underline;
                        float: right;
                    }
                }

                .review-text {
                    margin-top: 0.5em;

                    .display {
                        display: block;
                        height: auto;
                        max-height: 2.1em;
                        line-height: 1em;
                        overflow: hidden;

                        .expander {
                            cursor: pointer;
                            color: $avocado-green;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .strain-lineage-section {
        display: inline-block;
        width: 49.5%;
        vertical-align: top;

        a {
            color: $medium-aquamarine;
        }

        .lineage-region {
            a:first-child {
                display: inline-block;
                width: 30%;
                height: 10em;
                vertical-align: top;
            }

            a:first-child .abbreviation {
                margin-top: 1.4em;
                font-weight: bold;
            }

            a:first-child div.lineage-wrapper {
                display: block;
                width: 100%;
                height: 10em;
                border: 3px solid $medium-aquamarine;
                text-align: center;
            }

            a {
                display: inline-block;
                width: 30%;
                height: 4.9em;
                vertical-align: top;
            }

            a .abbreviation {
                margin-top: 0.2em;
                font-weight: bold;
            }

            a:nth-child(3) {
                display: inline-block;
                position: relative;
                bottom: -5.1em;
                right: 31.1%;
                width: 30%;
                height: 5em;
                vertical-align: top;
            }

            a:nth-child(4) {
                display: inline-block;
                position: relative;
                bottom: 10em;
                left: 61.9%;
                width: 30%;
                height: 5em;
                vertical-align: top;
            }

            a:nth-child(5) {
                display: inline-block;
                position: relative;
                bottom: 4.9em;
                left: 30.9%;
                width: 30%;
                height: 5em;
            }

            a div.lineage-wrapper {
                display: block;
                width: 100%;
                height: 4.9em;
                border: 3px solid $medium-aquamarine;
                text-align: center;
            }

            .lineage-wrapper .abbreviation {
                display: block;
                font-size: 2em;
            }

            .lineage-wrapper .name {
                display: block;
                font-size: 0.8em;
            }
        }
    }

    .strain-flavors-section {
        display: inline-block;
        width: 49.5%;
        vertical-align: top;
    }

    .strain-flavors-section .flavor-wrapper {
        display: inline-block;
        width: 32%;
        height: 10em;
        border: 1px solid $grey-light;
        margin-right: -1px;
        text-align: center;
    }

    .strain-flavors-section .flavor-wrapper .flavor {
        margin-top: 2em;
    }

    .strain-flavors-section .flavor-wrapper .flavor-name {
        margin-top: 1em;
        display: block;
    }

    .strain-flavors-section .flavor-wrapper img {
        height: 3em;
        width: 3em;
    }
}

.upload-image-dialog {
    width: 22em !important;

    form {
        display: block;
        width: 100%;
        height: 95%;
        text-align: center;

        input {
            width: 10.5em;
            margin: 1em 0;
        }

        .photo-camera-wrapper {
            display: block;
            width: 100%;
            height: 25%;
            margin: 1em 0;
            color: $black;
        }

        .preview-image-wrapper {
            display: block;
            height: auto;
            width: 20em;

            img {
                width: auto;
                max-width: 14em;
                margin: 0 auto 1em;
                max-height: 14em;
            }
        }

        .form-actions {
            margin-top: 2em;
        }

        .upload-image {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .upload-image + label {
            display: block;
            width: 10em;
            margin: 0 auto;
            padding: 1em 2em;
            cursor: pointer;
            border: 1px solid $grey-normal;
            color: $grey-normal;
        }

        .upload-image:focus + label {
            outline: 1px solid $iris-blue;
        }

        .submitted-message {
            margin: 1em 0;

            .message-1 {
                display: block;
            }

            .message-2 {
                display: block;
                font-size: 80%;
                color: $light-red;
            }
        }
    }
}

.strain-review-dialog {
    color: $grey;
    min-height: 260px !important;

    .dialog-header {
        padding: 0 1em 0.5em;
        line-height: 2em;

        .sub-title {
            display: inline-block;
            font-size: 1.3em;
            vertical-align: middle;
        }

        .add-effect-button-wrapper {
            display: inline-block;
            position: absolute;
            right: 2em;
            width: 25%;
            text-align: right;

            .btn-secondary {
                padding: 0.4em 1em;
                width: 75%;
                outline: none;
            }

            .effects-payload-top-border {
                position: relative;
                top: -0.6em;
                right: 0.15em;
                height: 1px;
                width: 25.5%;
                background-color: $iris-blue;
                z-index: 4;
            }

            .effects-payload {
                display: block;
                position: absolute;
                top: 1.8em;
                right: 0.15em;
                width: 100%;
                height: 11em;
                padding: 1.3em 0;
                overflow: scroll;
                text-align: left;
                background-color: $white;
                border: 1px solid $iris-blue;
                border-top: none;
                z-index: 2;

                .payload-effect {
                    padding-left: 1.5em;
                    cursor: pointer;
                }

                .payload-effect:hover {
                    background-color: $cyan-blue;
                    color: $white;
                }

                .payload-effect.active {
                    background-color: $cyan-blue;
                    color: $white;
                }
            }
        }
    }

    .dialog-content {
        .review-effect-wrapper {
            display: block;
            position: relative;
            width: 100%;
            height: 3em;
            padding: 0 1em;

            .effect-name {
                display: inline-block;
                width: 15%;
                vertical-align: middle;
                line-height: 1.3em;
            }

            .effect-slider {
                display: inline-block;
                width: 78%;
                vertical-align: middle;

                .strain-review-effect-slider {
                    display: flex;
                    width: 100%;

                    span {
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        width: 0;
                        height: 2em;
                    }

                    .action {
                        width: 5%;
                        height: 1em;
                        background-color: $iris-blue;
                        cursor: pointer;
                        text-align: center;
                        color: $white;
                        font-size: 2em;
                    }

                    .action.action-minus {
                        line-height: 0.9em;
                    }

                    .action.action-minus::before {
                        content: '-';
                    }

                    .action.action-plus {
                        line-height: 1em;
                    }

                    .action.action-plus::before {
                        content: '+';
                    }

                    .value {
                        width: 17.5%;
                        background-color: $white-smoke;
                        border-right: 1px solid $grey-light;

                        :last-child {
                            border-right: none;
                        }
                    }

                    .value.active {
                        background-color: $cyan-blue;
                    }
                }
            }

            .remove-effect {
                display: inline-block;
                position: relative;
                top: 0.5em;
                left: 2%;
                width: 3.3%;
                color: $iris-blue;
                cursor: pointer;
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .strain-detail-wrapper .detail-section .second-row .photo-controls {
        width: 50%;
    }

    .strain-detail-wrapper .detail-section .second-row .location-controls {
        width: 49%;
    }
}

@media (max-width: $screen-sm-min) {
    .strain-detail-wrapper .detail-section .strain-info-wrapper .popularity-wrapper .title {
        font-size: 1em;
    }

    .strain-detail-wrapper .detail-section .strain-info-wrapper .popularity-wrapper h1 {
        margin: 0 auto;
        font-size: 6em;
        width: 1em;
        border-bottom: 1px solid $grey-light;
        padding-bottom: 10px;
    }

    .strain-detail-wrapper .detail-section .strain-info-wrapper .match-score-wrapper .title {
        display: block;
        font-size: 1em;
    }

    .strain-detail-wrapper .detail-section .strain-info-wrapper .match-score-wrapper .score-value {
        font-size: 3.5em;
    }

    .strain-detail-wrapper .detail-section .strain-info-wrapper .match-score-wrapper .percent-sign {
        font-size: 1.8em;
        vertical-align: top;
        position: relative;
        top: 10px;
    }

    .strain-detail-wrapper .detail-section .effects-wrapper .effect-wrapper {
        height: 3.5em;
    }

    .strain-detail-wrapper .detail-section .effects-wrapper .effect-name {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    .strain-detail-wrapper .detail-section .effects-wrapper .effect {
        display: block;
        width: 100%;
    }

    .strain-detail-wrapper .detail-section .strain-reviews {
        .review-wrapper {
            .user-info {
                width: 20%;
            }

            .review {
                width: 70%;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .nav-region {
        background-color: $grey-dark;
    }

    .strain-detail-wrapper .detail-section {
        width: 95%;

        .strain-data {
            margin-top: 3em;

            .strain-like {
                position: absolute;
                top: 0;
                right: 6%;
                font-size: 3em;
            }
        }

        .social-icons {
            position: absolute;
            left: 3%;
            font-size: 1.2em;
        }

        .second-row .photo-controls {
            display: block;
            text-align: left;
            width: 100%;
        }

        .second-row .location-controls {
            display: block;
            text-align: left;
            width: 100%;
            margin-top: 1em;
        }

        .strain-photo-wrapper {
            display: block;
            width: 100%;
            vertical-align: top;
        }

        .strain-info-wrapper {
            display: block;
            width: 100%;
            text-align: center;
            float: none;

            .popularity-wrapper {
                display: inline-block;
                margin: 0 auto;
                vertical-align: top;
                width: 45%;
                text-align: center;

                h1 {
                    border-bottom: none;
                    font-size: 5em;
                }
            }

            .match-score-wrapper {
                display: inline-block;
                margin: 0 auto;
                vertical-align: top;
                width: 45%;
                text-align: center;

                .score-value {
                    font-size: 5em;
                }
            }
        }

        .section-header {
            position: relative;

            .disagree-link {
                position: absolute;
                top: 0.2em;
                right: 0;
            }
        }

        .effects-wrapper .effect-wrapper {
            height: 3.5em;

            .effect-name {
                display: block;
                width: 100%;
                margin-bottom: 0;
            }

            .effect {
                display: block;
                width: 100%;
            }
        }

        .strain-lineage-section {
            display: block;
            width: 100%;
        }

        .strain-reviews {
            .review-wrapper {
                .user-info {
                    width: 20%;
                }

                .review {
                    width: 70%;
                }
            }
        }

        .strain-flavors-section {
            display: block;
            width: 100%;
            margin-top: 2em;
        }
    }

    .strain-detail-wrapper .detail-section .second-row .location-controls {
        .filter-menu {
            .menu-expander {
                margin-left: 0.5em;
            }

            .menu-expander i {
                color: $iris-blue;
                cursor: pointer;
            }

            .col-1 {
                display: inline-block;
                width: 26%;
                color: $iris-blue;
                text-align: left;
                margin-left: 5px;
                vertical-align: middle;
            }

            .col-2 {
                display: inline-block;
                width: 15%;
                vertical-align: middle;
            }

            .col-3 {
                display: inline-block;
                width: 13%;
                vertical-align: middle;
            }

            .col-4 {
                display: inline-block;
                width: 14%;
                vertical-align: middle;
            }

            .col-5 {
                display: inline-block;
                width: 12%;
                vertical-align: middle;
            }

            .locations {
                position: absolute;
                right: 1%;
                background: $white;
                width: 98%;
                padding: 8px;
                color: $black;

                .locations-area {
                    left: 0;
                    width: 100%;
                }
            }

            .location-header {
                display: block;
                line-height: 2em;
                font-weight: bold;
                text-align: center;
            }

            .dispensary {
                display: block;
                line-height: 2em;
                text-align: center;
            }

            .location-marker {
                cursor: pointer;
                margin-right: 10px;
            }

            .location-marker:hover {
                color: $iris-blue;
            }

            .truck-marker {
                cursor: pointer;
            }

            .truck-marker:hover {
                color: $iris-blue;
            }
        }
    }

    .strain-similar {
        .also-like-strains-wrapper {
            .similar-strains-wrapper {
                text-align: center;

                .similar-wrapper {
                    display: block;
                    width: auto;
                    margin: 0 auto;
                }
            }
        }
    }

    .strain-review-dialog {
        .dialog-header {
            .sub-title {
                font-size: 1em;
            }

            .add-effect-button-wrapper {
                position: absolute;
                right: 1em;
                width: 40%;

                .effects-payload {
                    top: 1.5em;
                }

                .btn-secondary {
                    padding: 0.2em 0.5em;
                }
            }
        }

        .dialog-content {
            .review-effect-wrapper {
                height: 5em;

                .effect-name {
                    display: block;
                    width: 100%;
                }

                .effect-slider {
                    display: inline-block;
                    width: 90%;
                    vertical-align: middle;

                    .strain-review-effect-slider {
                        .action {
                            width: 10%;
                        }

                        .action.action-minus {
                            line-height: 0.9em;
                        }

                        .action.action-plus {
                            line-height: 1em;
                        }

                        .value {
                            width: 17.5%;
                            background-color: $white-smoke;
                            border-right: 1px solid $grey-light;

                            :last-child {
                                border-right: none;
                            }
                        }

                        .value.active {
                            background-color: $cyan-blue;
                        }
                    }
                }

                .remove-effect {
                    display: inline-block;
                    position: relative;
                    top: 0.5em;
                    left: 2%;
                    width: 3.3%;
                    color: $iris-blue;
                    cursor: pointer;
                }
            }
        }
    }
}