{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}Almost Done{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/signup/signup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="b2b-sign-up-wrapper sign-up-wrapper">
            <div class="wizard-wrapper">
                <span class="wizard-step finished">1</span>
                <span class="wizard-step finished">2</span>
                <span class="wizard-step finished">3</span>
                <span class="wizard-step finished">4</span>
                <span class="wizard-step finished">5</span>
                <span class="wizard-step finished">6</span>
                <span class="wizard-step finished">7</span>
                <span class="wizard-step finished">8</span>
                <span class="wizard-step finished">9</span>
                <hr/>
            </div>
            <div class="wizard-content-region">
                <div class="sign-up-form-wrapper">
                    <h1>Almost done!</h1>
                    <span class="message-1">
                        Thank you for creating your StrainRx account.
                        Please, complete the last step of the sign-up process by
                        <span class="bold">checking your email and verifying your account.</span>
                        Once you do, you'll be free to use all our features.
                    </span>
                    <span class="message-2">
                        Haven't received your verification email?
                        <a class="resend-b2b-email-link" href="#">Click here</a> to resend it.
                    </span>
                    {% if request.GET.image and request.GET.image == 'fail' %}
                        <span class="error-message">
                            Business logo failed to upload. Please try again on your
                            <a href="{% url 'businesses:detail' request.session.business.id %}">profile</a> page.
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/pages/signup/b2b/almost_done.js' %}"></script>
    <script type="text/javascript">
        W.pages.b2b.AlmostDone.init();
    </script>
{% endblock %}
