{% extends 'kiosk/base.html' %}

{% load staticfiles i18n %}

{% block title %}Dispensary Login{% endblock %}

{% block content %}

<h2 style="margin:50px; font-weight: bold; font-size: 25px; color:#555555; letter-spacing: 2px;">WELCOME TO</h2>
<img style="width:275px; margin-bottom: 25px;" src="{% static business.image %}"/>
<h3 style="margin: 25px; font-weight: normal; font-size: 19px; color:#777777; letter-spacing: 1px;">PLEASE ENTER YOUR EMAIL TO GET STARTED</h3>
<form method="post" style="margin-bottom:100px;" action="/kiosk/{{business.id}}/start">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Next</button>
</form>
{% endblock %}