.login-block-wrapper {
  text-align: center;
  color: #8e8e93;
  padding: 4em 1em 6em; }

.login-block-wrapper .login fieldset {
  border: none;
  margin: 0;
  padding: 2em 1em 1.5em; }

.login-block-wrapper .login .forgot-password-link {
  display: block;
  margin-top: 3em; }
