<script type="x/srx-template" id="strain_side_effects">
    <div class="effects-wrapper">
        <% if (effects && effects.length > 0) { %>
        <% _.each(effects, function(effect) { %>
        <div class="effect-wrapper">
            <% if (effect.missing) { %>
            <div class="effect-name missing-name"><span><%= effect.name %></span></div>
            <div class="effect missing-effect">
                <%= sideEffectFillHtml(effect) %>
                <%= userCriteriaFillHtml(effect) %>
            </div>
            <% } else { %>
            <div class="effect-name"><span><%= effect.name %></span></div>
            <div class="effect">
                <%= sideEffectFillHtml(effect) %>
                <%= userCriteriaFillHtml(effect) %>
            </div>
            <% } %>
        </div>
        <% }); %>
        <% } else { %>
        <div class="effect-wrapper">None</div>
        <% } %>
    </div>
</script>