<script type="x/srx-template" id="strain_effects">
    <div class="effects-wrapper">
        <% if (effects && effects.length > 0) { %>
        <% _.each(effects, function(effect) { %>
        <div class="effect-wrapper">
            <% if (effect.missing) { %>
            <span class="effect-name missing-name"><%= effect.name %></span>
            <% } else { %>
            <span class="effect-name"><%= effect.name %></span>
            <% } %>

            <div class="effect">
                <%= effectFillHtml(effect) %>
                <%= userCriteriaFillHtml(effect) %>
            </div>
        </div>
        <% }); %>
        <% } else { %>
        <div class="effect-wrapper">None</div>
        <% } %>
    </div>
</script>