<script type="x/srx-template" id="strain_review_dialog_review_effect_template">
    <div class="review-effect-wrapper review-effect-wrapper-${ effect.name }">
        <div class="effect-name" id="${ effect.name }">
            <span>${ effect.displayName }</span>
        </div>
        <div class="effect-slider">
            <span class="effect-value hidden">${ effect.value }</span>
        </div>
        <div class="remove-effect" id="${ effect.name }">
            <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</script>