{% load staticfiles i18n %}

<script type="x/srx-template" id="strain_detail_available_locations">
    <div class="locations-area popup-container">
        <% if (dispensaries.length >0) { %>
        <div class="locations-area-header">
            <div class="column col-1">
                <div class="col-name">Store Name</div>
                <i class="fa fa-caret-down sort" id="location_name" aria-hidden="true"></i>
            </div>
            <div class="column col-2">
                <div class="col-name">Rating</div>
                <i class="fa fa-caret-down sort" id="rating" aria-hidden="true"></i>
            </div>
            <div class="column col-3">
                <div class="col-name">Distance</div>
                <i class="fa fa-caret-down sort" id="distance" aria-hidden="true"></i>
            </div>
            <div class="column col-4">
                <div class="col-name price-expander">Price</div>
                <i class="fa fa-caret-down price-sort" aria-hidden="true"></i>
            </div>
            <div class="prices-wrapper hidden">
                <span class="price" id="menu_items.price_gram">Gram</span>
                <span class="price" id="menu_items.price_eighth">Eighth</span>
                <span class="price" id="menu_items.price_quarter">Quarter</span>
                <span class="price" id="menu_items.price_half">Half</span>
            </div>
        </div>
        <div class="locations-area-body">
            <% $.each(dispensaries, function(index, d) { %>
            <%= renderLocation({d: d, formatDistance: formatDistance, formatPrice: formatPrice}) %>
            <% }) %>
        </div>
        <% } else { %>
        <div class="message">No Locations Found</div>
        <% } %>
    </div>
</script>