{% load staticfiles i18n %}

<script type="x/srx-template" id="strain_details_page">
    <div class="detail-section">
        <div class="detail-header">
            {% if backtosearch %}
                <div class ="search-container">
                    <a href ="{{ backtosearch }}" class ="search-link">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        back to search results</a>
                </div>
            {% endif %}
            <div class="row">
                <div class="strain-data">
                    <span class="strain-name"><%= model.strain.name %></span>
                    <span class="strain-like-wrapper">
                    <% if (model.favorite) { %>
                        <i class="strain-like heart-active active fa fa-heart fa-2x" aria-hidden="true"></i>
                    <% } else { %>
                        <i class="strain-like fa fa-heart-o fa-2x" aria-hidden="true"></i>
                    <% } %>
                    </span>
                    <div class="rating-row">
                        <span class="strain-rating-stars"><%= model.strain_rating %></span>
                        <span class="strain-rating">(<%= model.strain_rating %>)</span>
                        <% if (!model.is_rated) { %>
                        <span class="separator"></span>
                        <span class="rate-link"><a href="#">Rate</a></span>
                        <% } %>
                    </div>
                </div>
                <div class="social-icons">
                    <span class="social-fb">
                        <a href="#">
                            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="social-google">
                        <a href="#">
                            <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="social-twitter">
                        <a href="#">
                            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="row second-row">
                <div class="photo-controls">
                    <span class="view-photos">
                        <a href="#">View Photos</a>
                    </span>
                    <span class="separator"></span>
                    <span>
                        <a href="#" class="add-photo-link">+ Add Photo</a>
                    </span>
                </div>
                <div class="location-controls">
                    <div class="filter-menu">
                        <div class="active-link popup-container">
                            <span><b>AVAILABLE</b> at these locations</span>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                        <div class="locations hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-section info-image-section">
        <div class="strain-photo-wrapper">
            <% if (model.strain_image) { %>
            <img src="<%= model.strain_image %>" alt="Strain Image"/>
            <% } else { %>
            <img src="{% static 'images/weed_small.jpg' %}" alt="Strain Image"/>
            <% } %>
        </div>
        <div class="strain-info-wrapper">
            <div class="popularity-wrapper">`
                <span class="title">Popularity</span>
                <h1>A</h1>
            </div>
            <% if (model.strain_srx_score > 0) { %>
            <div class="match-score-wrapper">
                <span class="title">Match Score</span>
                <span class="score-value"><%= model.strain_srx_score %></span>
                <span class="percent-sign">%</span>
            </div>
            <% } %>
        </div>
    </div>
    <% if (model.strain.about) { %>
    <div class="detail-section">
        <div class="strain-about">
            <span class="section-header">A Dream To Smoke</span>
            <span class="about"><%= model.strain.about %></span>
        </div>
    </div>
    <% } %>
    <div class="detail-section">
        <div class="strain-effects">
            <span class="section-header">
                <span class="title">Positive Effects</span>
                <span class="disagree-link">
                    <% if (model.user_strain_review && model.user_strain_review.effects_changed) { %>
                    <span class="undo-disagree-wrapper">
                        Changes submitted. <a href="#" class="undo-disagree" id="positive-effects">Undo</a>
                    </span>
                    <a href="#" class="disagree hidden" id="positive-effects">Provide Feedback</a>
                    <% } else { %>
                    <span class="undo-disagree-wrapper hidden">
                        Changes submitted. <a href="#" class="undo-disagree" id="positive-effects">Undo</a>
                    </span>
                    <a href="#" class="disagree" id="positive-effects">Provide Feedback</a>
                    <% } %>
                </span>
            </span>
            <span class="effects-region"></span>
        </div>
    </div>
    <div class="detail-section">
        <div class="strain-benefits">
            <span class="section-header">
                <span class="title">Medical Benefits</span>
                <span class="disagree-link">
                    <% if (model.user_strain_review && model.user_strain_review.benefits_changed) { %>
                    <span class="undo-disagree-wrapper">
                        Changes submitted. <a href="#" class="undo-disagree" id="medical-benefits">Undo</a>
                    </span>
                    <a href="#" class="disagree hidden" id="medical-benefits">Provide Feedback</a>
                    <% } else { %>
                    <span class="undo-disagree-wrapper hidden">
                        Changes submitted. <a href="#" class="undo-disagree" id="medical-benefits">Undo</a>
                    </span>
                    <a href="#" class="disagree" id="medical-benefits">Provide Feedback</a>
                    <% } %>
                </span>
            </span>
            <span class="benefits-region"></span>
        </div>
    </div>
    <div class="detail-section">
        <div class="strain-side-effects">
            <span class="section-header">
                <span class="title">Negative Effects</span>
                <span class="disagree-link">
                    <% if (model.user_strain_review && model.user_strain_review.side_effects_changed) { %>
                    <span class="undo-disagree-wrapper">
                        Changes submitted. <a href="#" class="undo-disagree" id="negative-effects">Undo</a>
                    </span>
                    <a href="#" class="disagree hidden" id="negative-effects">Provide Feedback</a>
                    <% } else { %>
                    <span class="undo-disagree-wrapper hidden">
                        Changes submitted. <a href="#" class="undo-disagree" id="negative-effects">Undo</a>
                    </span>
                    <a href="#" class="disagree" id="negative-effects">Provide Feedback</a>
                    <% } %>
                </span>
            </span>
            <span class="side-effects-region"></span>
        </div>
    </div>
    <div class="detail-section">
        <div class="strain-similar">
            <span class="section-header">
                <span class="title">You may also like</span>
            </span>
            <div class="also-like-strains-wrapper">
                <div class="similar-strains-wrapper"></div>
            </div>
        </div>
    </div>
    <% if (model.strain_reviews && model.strain_reviews.length > 0) { %>
    <div class="detail-section">
        <div class="strain-reviews">
            <span class="section-header">
                <span class="title"><%= model.strain.name %> Reviews</span>
                <span class="all-reviews-link-wrapper"><a href="#">View All Reviews</a></span>
            </span>
            <div class="reviews-wrapper">
                <% $.each(model.strain_reviews, function(i, review) { %>
                <div class="review-wrapper">
                    <div class="user-info">
                        <div class="user-image">
                            <% if (review.created_by_image) { %>
                            <img src="<%= review.created_by_image %>" alt="User Image"/>
                            <% } else { %>
                            <img src="{% static 'images/default-profile-image.png' %}" alt="User Image"/>
                            <% } %>
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-header">
                            <span class="user-name"><%= review.created_by_name %></span>
                            <span class="rating rating-<%= review.id %>"><%= review.rating %></span>
                            <span class="created-date"><%= review.created_date %></span>
                        </div>
                        <div class="review-text">
                            <span class="display display-text-<%= review.id %>"><%= review.review %></span>
                            <span class="full hidden"><%= review.review %></span>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <div class="all-reviews-link-wrapper"><a href="#">View All Reviews</a></div>
        </div>
    </div>
    <% } %>
    <div class="detail-section">
        <% if (model.strain_origins && model.strain_origins.length > 0) { %>
        <div class="strain-lineage-section">
            <span class="section-header">
                <span class="title">Lineage</span>
            </span>
            <div class="lineage-region">
                <% $.each(model.strain_origins, function(i, origin) { %>
                <a href="/search/strain/<%= origin.strain_slug %>">
                    <div class="lineage-wrapper">
                        <span class="abbreviation"><%= abbreviateStrainName(origin.name)%></span>
                        <span class="name"><%= origin.name %></span>
                    </div>
                </a>
                <% }); %>
            </div>
        </div>
        <% } %>
        <div class="strain-flavors-section">
            <span class="section-header">
                <span class="title">Flavors</span>
            </span>
            <span class="flavors-region"></span>
        </div>
    </div>
</script>