{% load staticfiles i18n %}

<script type="x/srx-template" id="strain_detail_available_location">
    <div class="dispensary">
        <div class="location-name col-1">
            <div class="name">
                <% if (from_search) { %>
                <a href="/${d.category}/${d.slug_name}/?strain_id=${strain_id}&search=true">
                    <%=d.location_name %>
                </a>
                <% } else { %>
                <a href="/${d.category}/${d.slug_name}/?strain_id=${strain_id}">
                    <%=d.location_name %>
                </a>
                <% } %>
            </div>
            <div class="icon">
                <% if (d.is_delivery) { %>
                <i class="fa fa-2x fa-truck truck-marker" aria-hidden="true"></i>
                <% } %>
            </div>
        </div>
        <div class="col-2 dispensary-rating"><%= d.rating %></div>
        <div class="col-3"><%= formatDistance(d.distance) %></div>
        <div class="col-4 price-values">
            <span class="price-value" id="menu_items.price_gram"><%= formatPrice(d.price_gram) %></span>
            <span class="price-value active" id="menu_items.price_eighth"><%= formatPrice(d.price_eighth) %></span>
            <span class="price-value" id="menu_items.price_quarter"><%= formatPrice(d.price_quarter) %></span>
            <span class="price-value" id="menu_items.price_half"><%= formatPrice(d.price_half) %></span>
        </div>
    </div>
</script>