<script type="x/srx-template" id="strain_effects">
    <div class="effects-wrapper">
        <% if (effects && effects.length > 0) { %>
        <% _.each(effects, function(effect) { %>
        <div class="effect-wrapper">
            <span class="effect-name"><%= effect.name %></span>
            <div class="effect">
                <%= effectFillHtml(effect.value) %>
            </div>
        </div>
        <% }); %>
        <% } else { %>
        <div class="effect-wrapper">None</div>
        <% } %>
    </div>
</script>