@import '../mixins/variables';

footer, .push {
    height: 8em;
    width: 100%;
}

.footer-region {
    background: $white;
    z-index: 100;
    padding: 2em 10em;
    font-size: 0.75em;
    height: 11em;
}

.footer-region .separator:after {
    color: $black;
}

.footer-region a {
    color: $black;
}

.footer-region .links-wrapper .links {
    margin-bottom: 5px;
    color: $black;
}

.footer-region .links-wrapper .links > li {
    display: inline-block;
}

.footer-region .copyright-wrapper {
    color: $black;
    padding-top: 1em;
}