@import '../mixins/variables';

.strains-wrapper {
    height: 90em;
    margin-bottom: -8em;
    background-color: #508484;
}

.home-row-01 {
    background: $grey-light url(../../images/weed_dark.jpg) no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 46em;
    display: block;
    z-index: 1;

    h1 {
        font-size: 82px;
        font-weight: normal;
        margin: 1.5em 0.5em 0.5em;
        line-height: 1em;
    }

    p {
        width: 64%;
        font-size: 28px;
        margin: 0 auto 2em auto;
    }

    .home-sub-row-01 {
        display: block;
        width: 100%;
        height: 8em;

        .location-holder {
            display: inline-block;
            float: left;
            margin-top: 2em;
            line-height: 3em;

            form > fieldset {
                position: relative;
                border: none;
                padding: 0.35em 0.3em;
                margin: 0;
                text-align: left;
            }

            .check {
                margin-left: -30px;
            }

            .removable {
                position: relative;
                right: 2.4em;
                top: 0.44em;
                cursor: pointer;
            }

            .your-location {
                border: 1px solid $grey-dark;
                border-bottom-left-radius: 0.5em;
                border-top-left-radius: 0.5em;
                border-right: none;
                padding: 0.64em 0.75em 0.81em;
                margin-right: -5px;
                color: $white;
                background: $grey;
                opacity: 0.8;
            }

            .your-location-value {
                border: 1px solid $grey-dark;
                border-left: none;
                border-radius: 0 0.5em 0.5em 0;
                padding: 0.75em;
                width: 30em;
                opacity: 0.8;
                color: $grey-dark;
            }
        }

        .favorites-holder {
            display: inline-block;
            float: right;
            margin-top: 2em;
            line-height: 3em;
            padding: 0.35em 0;
            opacity: 0.8;

            .favorites {
                border: 1px solid $grey;
                padding: 0.75em 1em;
                border-radius: 0.5em;
                background: $grey;
                color: $white;

                .fa-sort-desc {
                    position: relative;
                    top: -0.2em;
                    margin-left: 0.3em;
                }
            }
        }
    }

    .home-sub-row-02 {
        display: block;
        width: 100%;
        color: $white;
        line-height: 2.5em;

        .btn-lets-go {
            width: 336px;
            height: 70px;
            font-size: 26px;
        }
    }
}

.home-row-02 {
    height: 28em;
    background: $paradiso;
    position: absolute;
    top: 52em;
    width: 100%;

    .search-box {
        display: block;
        width: 100%;
        height: 20em;
        color: $white;
        margin: 0 auto;
        text-align: center;

        i {
            padding: 0.75em 0;
        }

        p {
            font-size: 22px;
            margin: 1.5em 0;
        }

        h2 {
            font-size: 40px;
        }

        .search-form {
            display: block;
            position: relative;
            width: 28em;
            margin: 0 auto;
            height: 12em;

            button[type="submit"] {
                margin-top: 2em;
                border: 1px $white solid;
                background-color: $paradiso;
                font-size: 1em;
                font-weight: 500;
                width: 264px;
                height: 50px;
            }

            input[type="text"] {
                display: block;
                width: 40em;
                height: 3em;
                padding: 1em;
                font-size: 0.7em;
                border: none;
                border-radius: 0.5em;
                margin: 1.5em auto 0;
                color: $grey-normal;
                line-height: 1.2em;
            }

            button:focus,
            input:focus {
                outline: none;
            }

            .payloads-region {
                display: block;
                position: absolute;
                top: 2.5em;
                width: 40em;
                font-size: 0.7em;
                color: $grey-normal;
                background-color: $white;
                border-bottom-left-radius: 0.5em;
                border-bottom-right-radius: 0.5em;

                .search-payload {
                    display: block;
                    padding: 1em;
                    text-align: left;
                    cursor: pointer;
                }

                .search-payload.active,
                .search-payload:hover {
                    background-color: $aero-blue;
                    color: $grey-dark;
                    border-radius: 0.5em;
                    font-weight: bold;
                }
            }
        }
    }
}

@media (max-width: $screen-lg-min) {
    .home-row-01 {
        h1 {
            font-size: 70px;
        }

        p {
            width: 80%;
            font-size: 26px;
        }
    }

    .home-row-02 {
        .search-box {
            .search-form {
                button[type="submit"] {
                    width: 14em;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: $screen-md-min) {
    fieldset {
        padding: 0.2em 0.4em;
    }

    .strains-wrapper {
        height: 70em;
    }

    .home-row-01 {
        height: 30em;

        h1 {
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }

        .home-sub-row-01 {
            height: 6em;

            .location-holder {
                margin-top: 0.5em;

                .your-location {
                    padding: 0.72em 0.75em 0.8em;
                    margin-right: -4px;
                }

                .check {
                    display: none;
                }

                .removable {
                    display: none;
                }
            }

            .favorites-holder {
                margin-top: 0.5em;
            }
        }

        .home-sub-row-02 {
            .btn-lets-go {
                width: 180px;
                height: auto;
                font-size: 14px;
            }
        }
    }

    .home-row-02 {
        top: 34em;

        .search-box {
            p {
                font-size: 14px;
            }

            h2 {
                font-size: 30px;
            }
            .search-form {
                button[type="submit"] {
                    width: 180px;
                    height: 40px;
                }
            }
        }
    }

    .footer-region {
        padding: 2em 4em;
        line-height: 2em;
    }
}

@media (max-width: $screen-sm-min) {
    .home-row-01 {
        h1 {
            font-size: 36px;
        }

        p {
            font-size: 18px;
            width: 100%;
        }

        .home-sub-row-01 {
            .location-holder {
                .your-location {
                    padding: 0.75em;
                    border-radius: 0.5em;
                    margin-right: 0;
                    border: none !important;
                }

                .your-location-value {
                    display: none;
                }
            }
        }
    }

    .home-row-02 {
        .search-box {
            .search-form {
                button[type="submit"] {
                    width: 14em;
                }
            }
        }
    }
}

@media (max-width: $screen-xs-min) {
    .home-row-01 {
        height: 30em;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
            width: 100%;
        }

        .home-sub-row-01 {
            .favorites-holder {
                margin-top: 0.5em;
                position: absolute;
                right: 5%;
            }
        }
    }

    .home-row-02 {
        .search-box {
            p {
                font-size: 14px;
            }

            h2 {
                font-size: 30px;
            }

            .search-form {
                width: 20em;

                input[type="text"] {
                    width: 100%;
                    height: 3em;
                }

                button[type="submit"] {
                    width: 14em;
                }

                .payloads-region {
                    width: 100%;
                }
            }
        }
    }
}