@import '../mixins/variables';

.home-row-01 {
    background: $grey-light url(../../images/weed_dark.jpg) no-repeat fixed center center;
    -webkit-background-size: cover;
    text-align: center;
    height: 26em;
    display: block;
    z-index: 1;

    h1 {
        margin: 0.5em;
    }

    p {
        width: 34em;
        margin: 0 auto 2em auto;
    }
}

.home-row-02 {
    height: 25em;
    background: $paradiso;
    position: absolute;
    top: 30em;
    width: 100%;

    .search-box {
        display: block;
        width: 40em;
        height: 20em;
        color: $white;
        margin: 0 auto 0 auto;
        padding: 0 5em;
        text-align: center;

        i {
            padding: 0.75em 0;
        }

        p {
            font-size: 0.8em;
            margin-top: 2em;
        }

        h2 {
            font-weight: 300;
        }

        .search-form {
            display: block;
            position: relative;
            height: 100%;

            button[type="submit"] {
                margin-top: 1em;
                border: 1px $white solid;
                background-color: $paradiso;
                font-size: 1em;
                font-weight: 500;
            }

            input[type="text"] {
                width: 30em;
                padding: 1em;
                font-size: 0.7em;
                border: none;
                border-radius: 0.5em;
                margin-top: 1.5em;
                color: $grey-normal;
                line-height: 1.2em;
            }

            button:focus,
            input:focus {
                outline: none;
            }

            .payloads-region {
                display: block;
                position: absolute;
                top: 4em;
                left: 6.4em;
                width: 30em;
                font-size: 0.7em;
                color: $grey-normal;
                background-color: $white;
                border-bottom-left-radius: 0.5em;
                border-bottom-right-radius: 0.5em;

                .search-payload {
                    display: block;
                    padding: 1em;
                    text-align: left;
                    cursor: pointer;
                }

                .search-payload.active,
                .search-payload:hover {
                    background-color: $aero-blue;
                    color: $grey-dark;
                    border-radius: 0.5em;
                    font-weight: bold;
                }
            }
        }
    }
}

.home-sub-row-01 {
    display: block;
    width: 100%;
    height: 8em;

    .location-holder {
        display: inline-block;
        float: left;
        margin-top: 2em;
        line-height: 3em;
    }

    .location-holder > form > fieldset {
        border: none;
        padding-top: 0.35em;
        margin: 0;
    }

    .location-holder .check {
        margin-left: -30px;
    }

    .location-holder .your-location {
        border: 1px solid $grey;
        padding: 0.75em;
        border-bottom-left-radius: 0.5em;
        border-top-left-radius: 0.5em;
        margin-right: -5px;
        color: $white;
        background: $grey;
        opacity: 0.8;
    }

    .location-holder .your-location-value {
        border: 1px solid $grey;
        padding: 0.75em;
        border-radius: 0 0.5em 0.5em 0;
        width: 30em;
        opacity: 0.8;
    }

    .favorites-holder {
        display: inline-block;
        float: right;
        margin-top: 2em;
        line-height: 3em;
        padding: 0.35em 0;
        opacity: 0.8;

        .favorites {
            border: 1px solid $grey;
            padding: 0.75em 1em;
            border-radius: 0.5em;
            background: $grey;
            color: $white;

            .fa-sort-desc {
                position: relative;
                top: -0.2em;
                margin-left: 0.3em;
            }
        }
    }
}

.home-sub-row-02 {
    display: block;
    width: 100%;
    color: $white;
    line-height: 2.5em;
}

@media (max-width: $screen-md-min) {
    fieldset {
        padding: 0.2em 0.4em;
    }

    .home-row-01 p {
        width: 22em;
    }

    .home-sub-row-01 .location-holder {
        margin-top: 0.5em;
    }

    .home-sub-row-01 .favorites-holder {
        margin-top: 0.5em;
    }

    .home-sub-row-01 .location-holder .your-location {
        padding: 0.75em;
        border-radius: 0.5em;
        margin-right: 0;
    }

    .home-sub-row-01 .location-holder .your-location-value {
        display: none;
    }

    .home-sub-row-01 .location-holder .check {
        display: none;
    }

    .home-sub-row-01 {
        height: 6em;
    }

    .home-row-02 .search-box {
        width: 30em;
        padding: 0 2em;
    }

    .footer-region {
        padding: 2em 4em;
        line-height: 2em;
    }
}

@media (max-width: $screen-xs-min) {
    .home-sub-row-01 .favorites-holder {
        margin-top: 0.5em;
        position: absolute;
        right: 5%;
    }
}