@import '../mixins/variables';

.nav-region {
    border-radius: 0;
    display: block;
    height: 4em;
    position: relative;
    z-index: 100;
    background-color: $light-grey;
}

.nav-container {
    padding-top: 1.3em;
}

.nav-list {
    list-style: none;
}

.nav-list .nav-list-item {
    display: inline-block;
}