@import '../mixins/variables';

.nav-region {
    border-radius: 0;
    display: block;
    height: 3em;
    position: relative;
    z-index: 100;
    background-color: $dark-grey;
}

.nav-container {
    padding-top: 1em;
}

.nav-list {
    list-style: none;
}

.nav-list .nav-list-item {
    display: inline-block;
}