{% extends "pages/signup/b2c/wizard.html" %}

{% block wizard-content %}
    <div class="sign-up-form-wrapper">
        <h1>Almost done!</h1>
        <span class="message-1">
            Thank you for creating your StrainsRX account.
            Please, complete the last step of the sign-up process by
            <span class="bold">checking your email and verifying your account.</span>
            One you do, you'll be free to use all our features.
        </span>
        <span class="message-2">
            Haven't received your verification email?
            <a class="resend-email-link" href="#">Click here</a> to resend it.
        </span>
    </div>
{% endblock %}
