<script type="x/srx-template" id="operational-hours">
    <div class="day-wrapper">
        <div class="day">
            <span id="${day_value}">${day_name}</span>
        </div>
        <div class="hours">
            <div class="open-hours">
                <input type="text" name="${day_value}_open" placeholder=""/>
                <select name="${day_value}_open_am_pm" title="">
                    <option></option>
                    <option value="AM">am</option>
                    <option value="PM">pm</option>
                </select>
            </div>
            <div class="separator"></div>
            <div class="close-hours">
                <input type="text" name="${day_value}_close" placeholder=""/>
                <select name="${day_value}_close_am_pm" title="">
                    <option></option>
                    <option value="AM">am</option>
                    <option value="PM">pm</option>
                </select>
            </div>
            <div class="is-closed-wrapper">
                <input type="checkbox" name="${day_value}_is_closed" id="${day_value}_is_closed">
                <label for="${day_value}_is_closed">Closed</label>
            </div>
        </div>
    </div>
</script>