@import '../../../mixins/variables';

.strain-search-wrapper {
    text-align: center;
    color: $grey-normal;

    input {
        display: block;
        margin: 0 auto 1em;
    }

    .btn-primary:disabled {
        opacity: 0.5;
        color: $white;
    }

    .btn-secondary:disabled {
        opacity: 0.5;
        color: $iris-blue;
    }

    .btn-reset-search {
        display: block;
        margin: 2em auto;
    }

    .btn-go-back {
        display: block;
        margin: 2em auto;
        width: 14em;
        padding: 0.75em 1em;

        i {
            font-size: 1.15em;
            margin-right: 0.5em;
        }
    }

    .wizard-wrapper {
        display: block;
        width: 30em;
        height: 10em;
        padding: 2em 0;
        margin: 0 auto;

        hr {
            z-index: 1;
            width: 22em;
            margin: -4em auto 0 auto;
        }

        .step-wrapper {
            display: inline-block;
            width: 7em;
            height: 5em;
            text-align: center;
            vertical-align: top;

            .title {
                display: inline-block;
                padding-top: 1em;
            }
        }
    }

    .step1-form-wrapper {
        width: 100%;

        .form-field-group {
            float: none;
            text-align: center;
        }
    }

    .arrow-down {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $green-emerald;
    }

    .effects-form {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        line-height: 3em;
        text-align: left;

        .form-field {
            position: relative;
            margin: 0 0.3em;
            width: 11.5em;
            height: 3em;

            .effect-config-box {
                position: absolute;
                border: 1px solid $green-apple;
                width: 11.5em;
                height: 6.5em;
                background-color: $green-apple;
                z-index: 1;

                .close-box {
                    font-size: 1.5em;
                    position: absolute;
                    line-height: 0.7em;
                    color: white;
                    top: -1.2em;
                    right: 5%;
                    cursor: pointer;
                }

                .slider-wrapper {
                    .step-label {
                        font-size: 0.8em;
                        display: block;
                        width: 90%;
                        padding: 0.5em;
                        margin: 5% auto 0;
                        line-height: 1em;
                        background: $green-emerald;
                        color: $white;
                        text-align: center;
                        cursor: default;
                    }

                    .slider {
                        display: block;
                        width: 90%;
                        height: 1.2em;
                        margin: 1em auto 0;
                        background-color: $green-atlantis;
                        border-color: $green-atlantis;
                        border-radius: 0;

                        span {
                            background-color: $white;
                            border-color: $white;
                            height: 1.2em;
                            width: 1.2em;
                            top: 0.15em;
                            outline: none;
                        }

                        span:focus {
                            box-shadow: 0 0 2pt 1pt $iris-blue;
                        }

                        span:hover {
                            box-shadow: 0 0 2pt 1pt $iris-blue;
                        }

                        label {
                            font-size: 0.8em;
                            position: absolute;
                            width: 16px;
                            margin-left: -8px;
                            text-align: center;
                            color: $white;
                            margin-top: 0.5em;
                            cursor: pointer;
                        }

                        label.active {
                            color: $green-atlantis
                        }
                    }
                }
            }
        }

        .benefits {
            .form-field {
                .close-box {
                    top: -1.8em;
                }
            }
        }
    }
}

.search-form-wrapper {
    margin: 2em auto 0;
    padding-bottom: 6em;
    display: block;
    width: 64.2em;
    text-align: center;

    .form {
        padding-top: 2em;
    }

    .form-actions {
        margin: 5em 0 0;
        text-align: center;
    }

    .additional-actions-wrapper {
        margin: 1em auto;
        color: $iris-blue;
        cursor: default;
    }

    .strain-check {
        width: 10em;
        height: 6em;
        text-align: center;
        padding: 1em 2em;
        border: 1px solid $grey-light;
        border-radius: 0.5em;
        margin: 0 0.2em;
    }

    .strain-check label {
        text-align: center;
    }

    .strain-check .type {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .strain-check .type-info {
        color: $iris-blue;
        background-size: 1.5em 1.5em;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        position: relative;
        bottom: 4.9em;
        left: 3.9em;
        cursor: pointer;
    }

    .strain-check .type-info .fa-2x {
        font-size: 1.5em;
    }

    .benefits .form-field {
        height: 4em;
        vertical-align: top;
        margin-bottom: 0.5em;

        .strain-effect {
            height: 4em;
        }
    }

    .form-field .strain-effect {
        display: table;
        width: 11.5em;
        padding: 0.4em;
        border: 1px solid $iris-blue;
        color: $iris-blue;
        line-height: 1.3em;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        vertical-align: top;
        user-select: none;
    }

    .form-field .strain-effect .benefit-text {
        display: table-cell;
        vertical-align: middle;

        span {
            display: block;
            width: 8em;
            margin: 0 auto;
        }
    }

    .form-field .removable {
        position: relative;
        float: right;
        bottom: 1.95em;
        right: 0.5em;
        cursor: pointer;
    }

    .form-field .removable.selected {
        display: none;
    }

    .form-field .step-3.removable {
        bottom: 2.75em;
    }

    .form-field .importance-value {
        position: relative;
        float: left;
        bottom: 2.7em;
        left: 0.8em;
        color: $iris-blue;
        font-weight: bold;
        cursor: default;
    }

    .form-field .importance-value.selected {
        color: $white;
    }

    .form-field .step-3.importance-value {
        bottom: 3.55em;
    }

    .form-field .strain-effect.active {
        border: 2px solid $avocado-green;
        color: $green-apple;
        font-weight: bold;
    }

    .form-field .strain-effect.selected {
        border-color: $green-apple;
        background-color: $green-apple;
        color: $white;
    }

    .form-field .strain-effect.disabled {
        border: 1px solid $grey-normal;
        color: $grey-light;
    }

    fieldset {
        padding-bottom: 2em;
    }

    label {
        display: inline-block;
    }

    label > input + span.check {
        cursor: pointer;
    }

    span.check {
        display: inline-block;
        margin: 0;
    }

    label > span.check {
        width: 2em;
        height: 2em;
        border: 1px solid $grey-light;
        border-radius: 1em;
        vertical-align: middle;
    }

    label > input {
        position: absolute;
        visibility: hidden;
        width: 2em;
        height: 2em;
        padding: 0.35em 0;
    }

    label > input:checked + span:before {
        content: '\2713';
        display: block;
        width: 2em;
        height: 2em;
        padding: 0.35em 0;
        color: $iris-blue;
        text-align: center;
    }
}

.just-a-second-dialog {
    .dialog-text {
        height: 36%;
        line-height: 1.5em;
    }

    .additional-section {
        margin-top: 2em;

        input[type="checkbox"] {
            width: 2em;
        }
    }
}

.info-dialog {
    line-height: 1.5em;
}

@media (max-width: $screen-sm-max) {
    .strain-search-wrapper .effects-form {
        width: 70%;
    }
}

@media (max-width: $screen-xs-max) {
    .search-form-wrapper {
        width: 26em;
    }

    .strain-search-wrapper .wizard-wrapper {
        width: 100%;
    }

    .strain-search-wrapper .wizard-wrapper .step-wrapper {
        width: 24%;
    }

    .strain-search-wrapper .wizard-wrapper hr {
        width: 20em;
    }

    .strain-search-wrapper .wizard-wrapper .step-wrapper .title {
        width: 100%;
    }

    .search-form-wrapper {
        width: 100%;
    }

    .search-form-wrapper .strain-check {
        display: block;
        width: 14em;
        margin: 1em auto;
    }

    .search-form-wrapper .strain-check .type-info {
        bottom: 4.7em;
        left: 5.4em;
    }

    .search-form-wrapper .strain-check .type-info .fa-2x {
        font-size: 2em;
    }

    .search-form-wrapper .additional-actions-wrapper {
        margin: 1em 3em;
    }

    .strain-search-wrapper .effects-form {
        width: 100%;
    }

    .strain-search-wrapper .effects-form .form-field {
        display: block;
        margin: 0.5em auto;
    }

    .strain-search-wrapper .effects-form .form-field.step-3 {
        height: 4em;
    }

    .strain-search-wrapper .effects-form .slider span {
        top: -0.35em;
    }

    .search-form-wrapper .form-field .step-3.removable {
        bottom: 1.2em;
    }

    .search-form-wrapper .form-field .importance-value {
        height: 0;
        bottom: 2.8em;
    }

    .search-form-wrapper .form-field .removable {
        bottom: 0.5em;
        margin-top: -1.5em;
    }
}
