{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}{{ article.meta_title|default:article.title }}{% endblock %}

{% block meta_keywords %}{{ article.meta_keywords }}{% endblock meta_keywords %}

{% block meta_description %}{{ article.meta_desc }}{% endblock meta_description %}

{% block meta_social %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="{{ article.og_type|default:"article" }}" />
    <meta property="og:title" content="{{ article.og_title|default:article.title }}" />
    <meta property="og:description" content="{{ article.og_description|default:article.meta_desc }}" />
    <meta property="og:image" content="{% if article.image %}{{ article.image.url }}{% else %}{{ logo }}{% endif %}" />

    {% if article.fb_app_id %}
      <meta property="fb:app_id" content="{{ article.fb_app_id }}" />
    {% endif %}

    <meta name="twitter:card" content="{{ article.twitter_card|default:"summary_large_image" }}">
    <meta name="twitter:site" content="{{ article.twitter_site|default:"@strainrx" }}">
    <meta name="twitter:author" content="{{ article.twitter_author }}">

    {{ article.meta_tags|safe }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/article/article.css' %}" rel="stylesheet">
    <style>

    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="article-title">
            {{article.title}}
        </div>

        <div class="article-content">
            {{text|safe}}
        </div>

    </div>
{% endblock %}

{% block javascript %}{% endblock %}
