.humulene {
  background: #702988; }

.pinene {
  background: #685005; }

.linalool {
  background: #1355a7; }

.caryophyllene {
  background: #e64d10; }

.myrcene {
  background: #056568; }

.terpinolene {
  background: #a0278b; }

.ocimene {
  background: #81a406; }

.limonene {
  background: #087128; }

.camphene {
  background: #b665b9; }

.terpineol {
  background: #2a9b92; }

.phellandrene {
  background: #d1ab36; }

.carene {
  background: #393425; }

.pulegone {
  background: #ef4f4f; }

.sabinene {
  background: #130568; }

.geraniol {
  background: #95b2c3; }

.valencene {
  background: #FF7A00; }

a.blurred {
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px); }

body:not(.search-result-page) {
  background: url("../../../../images/search/background.png") no-repeat top center;
  background-size: cover; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 11em;
  min-height: 100%; }
  body .nav-region {
    background-color: #2f3f4c; }
  body .footer-region {
    background-color: #2f3f4c; }
    body .footer-region a,
    body .footer-region .separator:after,
    body .footer-region .copyright-wrapper,
    body .footer-region .links-wrapper .links {
      color: #fff; }
  body footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 11em;
    background-color: #efefef;
    text-align: center; }

.results-dialog {
  display: none;
  position: absolute;
  top: calc(50vh - 10em);
  left: calc(50vw - 20em);
  width: 26em;
  border: 1px solid #71757a;
  background-color: #fff;
  text-align: center;
  z-index: 1000; }
  .results-dialog h1 {
    font-size: 1em;
    margin: 1.5em 0; }
  .results-dialog p {
    font-size: 0.8em;
    margin: 0 3em 1.5em; }

.strain-search-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 1em 0; }
  .strain-search-wrapper input[type="checkbox"] {
    width: 1em;
    height: 1em;
    margin-bottom: 0;
    font-size: 16px; }
  .strain-search-wrapper .cannabinoids-group input[type="text"] {
    padding: 8px 10px;
    width: 48px;
    margin: 0; }
  .strain-search-wrapper .cannabinoids-group .form-field-group label.error {
    color: #ff4646; }
  .strain-search-wrapper .title {
    color: #35B244;
    font-size: 45px;
    font-weight: normal;
    padding: 0.2em 0.2em 0.5em;
    text-align: center; }
  .strain-search-wrapper .breadcrumbs {
    margin-top: 4em; }
  .strain-search-wrapper .circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 29px;
    text-align: center;
    margin: 0.2em 0.5em; }
  .strain-search-wrapper .search-result-subtitle {
    color: #4d5359;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    margin: 0.5em 0 2em;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .strain-search-wrapper .subtitle-container {
    line-height: 0.5;
    text-align: center; }
    .strain-search-wrapper .subtitle-container .subtitle:before,
    .strain-search-wrapper .subtitle-container .subtitle:after {
      content: "";
      position: absolute;
      height: 9px;
      border-bottom: 2px solid #4d5359;
      top: 0;
      width: 150px; }
    .strain-search-wrapper .subtitle-container .subtitle:before {
      right: 100%;
      margin-right: 15px; }
    .strain-search-wrapper .subtitle-container .subtitle:after {
      left: 100%;
      margin-left: 15px; }
    .strain-search-wrapper .subtitle-container .subtitle {
      color: #4d5359;
      font-size: 19px;
      line-height: 19px;
      font-weight: normal;
      text-align: center;
      display: inline-block;
      position: relative; }
  .strain-search-wrapper .search-form {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    /* Search page */
    /* Search page end */ }
    .strain-search-wrapper .search-form img {
      margin: 0 0.5em 0 0.5em;
      height: 50px;
      width: 50px; }
    .strain-search-wrapper .search-form label {
      padding: 0.2em; }
    .strain-search-wrapper .search-form .row {
      margin: 2em 0; }
    .strain-search-wrapper .search-form .form-field-group {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }
      .strain-search-wrapper .search-form .form-field-group .form-field {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .strain-search-wrapper .search-form .form-field-group .form-field .variety-wrapper {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
              flex-direction: column;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .strain-search-wrapper .search-form .form-field-group .variety-title {
        color: #608061;
        font-weight: bold;
        font-size: 14px;
        text-align: center; }
    .strain-search-wrapper .search-form .form-field-group.variety {
      margin: 0; }
      .strain-search-wrapper .search-form .form-field-group.variety .form-field {
        margin: 0.5em 1em; }
    .strain-search-wrapper .search-form .terpenes-group .form-field-group {
      width: 100px; }
      .strain-search-wrapper .search-form .terpenes-group .form-field-group .form-field {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
        .strain-search-wrapper .search-form .terpenes-group .form-field-group .form-field .variety-wrapper {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center; }
    .strain-search-wrapper .search-form .cannabinoids, .strain-search-wrapper .search-form .terpenes {
      font-size: 12px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: start;
          justify-content: flex-start;
      -ms-flex-direction: row;
          flex-direction: row;
      text-align: left; }
      .strain-search-wrapper .search-form .cannabinoids .cannabinoids-title, .strain-search-wrapper .search-form .cannabinoids .terpenes-title, .strain-search-wrapper .search-form .terpenes .cannabinoids-title, .strain-search-wrapper .search-form .terpenes .terpenes-title {
        font-weight: bold;
        font-size: 16px;
        padding-top: 2em; }
      .strain-search-wrapper .search-form .cannabinoids .cannabinoids-group, .strain-search-wrapper .search-form .cannabinoids .terpenes-group, .strain-search-wrapper .search-form .terpenes .cannabinoids-group, .strain-search-wrapper .search-form .terpenes .terpenes-group {
        margin-left: 2em; }
      .strain-search-wrapper .search-form .cannabinoids .form-field-group, .strain-search-wrapper .search-form .terpenes .form-field-group {
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-direction: column;
            flex-direction: column; }
        .strain-search-wrapper .search-form .cannabinoids .form-field-group .form-field-wrapper, .strain-search-wrapper .search-form .terpenes .form-field-group .form-field-wrapper {
          display: -ms-inline-flexbox;
          display: inline-flex;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-direction: row;
              flex-direction: row; }
        .strain-search-wrapper .search-form .cannabinoids .form-field-group .form-field, .strain-search-wrapper .search-form .terpenes .form-field-group .form-field {
          margin-right: 1em; }
          .strain-search-wrapper .search-form .cannabinoids .form-field-group .form-field label, .strain-search-wrapper .search-form .terpenes .form-field-group .form-field label {
            padding: 0.2em; }
        .strain-search-wrapper .search-form .cannabinoids .form-field-group .group-label, .strain-search-wrapper .search-form .terpenes .form-field-group .group-label {
          font-weight: bold;
          font-size: 14px;
          padding: 0.3em 0; }
    .strain-search-wrapper .search-form .search-btn {
      margin-bottom: 1em;
      padding: 1.1em 1em; }
    .strain-search-wrapper .search-form .or-btn {
      padding: 10px 8px;
      background: #35B244; }
    .strain-search-wrapper .search-form .search-input {
      width: 32em;
      background: transparent; }
    .strain-search-wrapper .search-form .advanced-search-link {
      font-size: 21px;
      color: #4d5359; }

.search-result-container {
  width: 100%; }
  .search-result-container .search-result.basic-search {
    padding-bottom: 2em; }
  .search-result-container .search-result, .search-result-container .similar-result {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: auto; }
    .search-result-container .search-result .result-item, .search-result-container .similar-result .result-item {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
          align-items: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-preferred-size: 350px;
          flex-basis: 350px;
      margin: 1.5em;
      color: #4d5359;
      position: relative; }
      .search-result-container .search-result .result-item .item-image, .search-result-container .similar-result .result-item .item-image {
        margin-right: 2em;
        width: 9em;
        position: relative; }
        .search-result-container .search-result .result-item .item-image .strain-logo, .search-result-container .similar-result .result-item .item-image .strain-logo {
          width: 9em;
          height: auto;
          max-height: 9em; }
        .search-result-container .search-result .result-item .item-image .clean-logo, .search-result-container .similar-result .result-item .item-image .clean-logo {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 3em; }
      .search-result-container .search-result .result-item .item-location, .search-result-container .similar-result .result-item .item-location {
        position: absolute;
        bottom: -1.5em;
        left: 0; }
      .search-result-container .search-result .result-item .item-info, .search-result-container .search-result .result-item .item-location, .search-result-container .similar-result .result-item .item-info, .search-result-container .similar-result .result-item .item-location {
        color: inherit;
        font-size: 13px;
        line-height: 21px; }
        .search-result-container .search-result .result-item .item-info .strain-name, .search-result-container .search-result .result-item .item-location .strain-name, .search-result-container .similar-result .result-item .item-info .strain-name, .search-result-container .similar-result .result-item .item-location .strain-name {
          margin-right: 30px; }
        .search-result-container .search-result .result-item .item-info a, .search-result-container .search-result .result-item .item-location a, .search-result-container .similar-result .result-item .item-info a, .search-result-container .similar-result .result-item .item-location a {
          color: inherit; }
        .search-result-container .search-result .result-item .item-info .cup-logo, .search-result-container .search-result .result-item .item-location .cup-logo, .search-result-container .similar-result .result-item .item-info .cup-logo, .search-result-container .similar-result .result-item .item-location .cup-logo {
          width: 2.5em;
          padding-top: 0.5em; }
        .search-result-container .search-result .result-item .item-info .strain-terpenes .terpene, .search-result-container .search-result .result-item .item-location .strain-terpenes .terpene, .search-result-container .similar-result .result-item .item-info .strain-terpenes .terpene, .search-result-container .similar-result .result-item .item-location .strain-terpenes .terpene {
          padding: 0.3em;
          margin: 1px;
          display: inline-block; }
      .search-result-container .search-result .result-item .item-variety-logo, .search-result-container .similar-result .result-item .item-variety-logo {
        margin-left: 1em; }
        .search-result-container .search-result .result-item .item-variety-logo img, .search-result-container .similar-result .result-item .item-variety-logo img {
          margin-top: -0.7em;
          position: absolute;
          right: 0; }
      .search-result-container .search-result .result-item .cannabinoid-item, .search-result-container .similar-result .result-item .cannabinoid-item {
        white-space: nowrap; }
  .search-result-container .filter-menu-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-grid-column-align: center;
        justify-items: center;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 2em; }
    .search-result-container .filter-menu-wrapper .form-field-group {
      margin: 0 auto;
      font-size: 20px;
      color: #4d5359; }
      .search-result-container .filter-menu-wrapper .form-field-group .filter-title {
        padding-right: 1em; }
      .search-result-container .filter-menu-wrapper .form-field-group .form-field {
        padding-right: 2em; }
        .search-result-container .filter-menu-wrapper .form-field-group .form-field .checked {
          display: none; }
        .search-result-container .filter-menu-wrapper .form-field-group .form-field .blank {
          display: inline; }
      .search-result-container .filter-menu-wrapper .form-field-group .form-field.active {
        font-weight: bold; }
        .search-result-container .filter-menu-wrapper .form-field-group .form-field.active .checked {
          display: inline; }
        .search-result-container .filter-menu-wrapper .form-field-group .form-field.active .blank {
          display: none; }
  .search-result-container .search-result-footer-wrapper {
    text-align: center; }

@media (max-width: 1023px) {
  .results-dialog {
    display: none;
    position: absolute;
    top: calc(50vh - 10em);
    left: calc(50vw - 13em); }
  .search-result-container .search-result .result-item .item-location,
  .search-result-container .similar-result .result-item .item-location {
    font-size: 12px;
    line-height: 11px;
    bottom: -1.9em; } }

@media (max-width: 767px) {
  .strain-search-wrapper .subtitle-container .subtitle:before,
  .strain-search-wrapper .subtitle-container .subtitle:after {
    width: 50px; } }

@media (max-width: 479px) {
  body .footer-region {
    height: 16em; }
  .strain-search-wrapper .subtitle-container .subtitle:before,
  .strain-search-wrapper .subtitle-container .subtitle:after {
    width: 0; }
  .strain-search-wrapper .search-form .form-field-group .form-field .variety-wrapper {
    max-width: 6em; }
  .strain-search-wrapper .search-form .cannabinoids,
  .strain-search-wrapper .search-form .terpenes {
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: left; }
    .strain-search-wrapper .search-form .cannabinoids .cannabinoids-group, .strain-search-wrapper .search-form .cannabinoids .terpenes-group,
    .strain-search-wrapper .search-form .terpenes .cannabinoids-group,
    .strain-search-wrapper .search-form .terpenes .terpenes-group {
      text-align: center; }
    .strain-search-wrapper .search-form .cannabinoids .cannabinoids-title,
    .strain-search-wrapper .search-form .cannabinoids .terpenes-title,
    .strain-search-wrapper .search-form .terpenes .cannabinoids-title,
    .strain-search-wrapper .search-form .terpenes .terpenes-title {
      padding-bottom: 0.5em;
      padding-top: 0.5em; }
  .strain-search-wrapper .search-form .advanced-search-link-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .strain-search-wrapper .search-form .or-btn {
    padding: 4px 4px; }
  .strain-search-wrapper .search-form .search-input {
    width: auto; } }

@media (min-width: 768px) {
  .strain-search-wrapper .search-form img.height-70 {
    height: 70px;
    width: auto; } }

@media (max-width: 1023px) {
  .strain-search-wrapper .search-form {
    width: 100%; }
  .search-result-container .search-result .result-item, .search-result-container .similar-result .result-item {
    -ms-flex-preferred-size: 290px;
        flex-basis: 290px; } }
