{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}
    Marijuana {{ location_type_plural|capfirst }} in {{ active_city.full_name }} - Find Closest & Best Rated
{% endblock %}

{% block meta_description %}
    Find local marijuana {{ location_type_plural }} in {{ active_city.full_name }} - see the menus, ratings and reviews. We make it easy to find the medicine you need.
{% endblock meta_description %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/locations/locations.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="locations-list-container container">
        <h1>{{ location_type_plural|capfirst }} in {{ active_city.full_name }}</h1>
        {% include 'pages/common/social_icons.html' %}
        <div class="breadcrumbs">
            <ol>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    <span class="arrow">></span>
                </li>
                {% if location_type == 'dispensary' %}
                    <li>
                        <a href="{% url 'businesses:dispensaries_list' %}">Dispensaries</a>
                        <span class="arrow">></span>
                    </li>
                    <li>
                        <a href="{% url 'businesses:dispensaries_state_list' active_state.abbreviation|lower %}">{{ active_state.abbreviation|upper }}</a>
                        <span class="arrow">></span>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'businesses:growers_list' %}">Growers</a>
                        <span class="arrow">></span>
                    </li>
                    <li>
                        <a href="{% url 'businesses:growers_state_list' active_state.abbreviation|lower %}">{{ active_state.abbreviation|upper }}</a>
                        <span class="arrow">></span>
                    </li>
                {% endif %}
                <li class="active">{{ active_city.full_name }}</li>
            </ol>
        </div>
        <div class="text">
            {% if location_type == 'dispensary' %}
                {{ active_city.seo_friendly_dispensaries_description | safe }}
            {% else %}
                {{ active_city.seo_friendly_growers_description | safe }}
            {% endif %}
        </div>
        <div class="pager">
            <span class="page-letter active">A</span>
            <span class="page-letter">B</span>
            <span class="page-letter">C</span>
            <span class="page-letter">D</span>
            <span class="page-letter">E</span>
            <span class="page-letter">F</span>
            <span class="page-letter">G</span>
            <span class="page-letter">H</span>
            <span class="page-letter">I</span>
            <span class="page-letter">J</span>
            <span class="page-letter">K</span>
            <span class="page-letter">L</span>
            <span class="page-letter">M</span>
            <span class="page-letter">N</span>
            <span class="page-letter">O</span>
            <span class="page-letter">P</span>
            <span class="page-letter">Q</span>
            <span class="page-letter">R</span>
            <span class="page-letter">S</span>
            <span class="page-letter">T</span>
            <span class="page-letter">U</span>
            <span class="page-letter">V</span>
            <span class="page-letter">W</span>
            <span class="page-letter">X</span>
            <span class="page-letter">Y</span>
            <span class="page-letter">Z</span>
        </div>
        <div class="locations-wrapper"></div>
    </div>

    {% include "pages/locations/locations_city_list_item_template.html" %}

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/pages/locations/locations_list.js' %}"></script>
    <script src="{% static 'js/pages/locations/locations_list_view.js' %}"></script>
    <script type="text/javascript">
        W.pages.locations.LocationsListView.init({
            view: 'city',
            location_type: '{{ location_type }}',
            active_city: '{{ active_city.full_name_slug }}',
            active_state: '{{ active_state.abbreviation|lower }}'
        });
    </script>
{% endblock %}
