{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en" style="height: 100%; position: relative; margin: 0;">
<head>
    {% block css %}
        <style>
            * {
                color: #8e8e93;
            }

            a {
                color: #10b3dc;
            }
        </style>
    {% endblock %}
</head>
<body style="min-height: 100%; position: relative; margin: 0;">
<div class="email-wrapper" style="height: 520px; position: relative; margin: 0;">

    {% include 'emails/header.html' %}

    <main class="email-content"
          style="display: block; text-align: center; margin: 100px auto 10px; position: relative;">

        {% block content %}
            <p>Email content goes here.</p>
        {% endblock content %}
    </main>
</div>

{% include 'emails/footer.html' %}

</body>
</html>
