{% load staticfiles i18n %}
<thead align="center">
<tr style="background-color: #2f3f4c;">
    <th align="center" height="120">
        <img src="{{ header_logo_url }}" alt="StrainRx"#}
             style="display: block; width: 340px; margin: 0 auto 14px;">
    </th>
</tr>
<tr>
    <th align="center" rowspan="2">
        <div class="envelope-holder"
             style="background-color: white; border-radius: 60px; width: 110px; height: 110px; margin: 0 auto">

            <div class="envelope"
                 style="display: inline-block; height: 100px; width: 100px; margin: 5px; border-radius: 50px; background-color: #10b3dc;">

                <img src="{{ envelope_image_url }}" alt="StrainRx"
                     style="width: 40px; margin: 34px 30px;">
            </div>
        </div>
    </th>
</tr>
</thead>