{% load staticfiles i18n %}

<header class="email-header" style="display: block; text-align: center; height: 142px; position: relative; margin: 0;">

    <div class="srx-logo" style="background-color: #2f3f4c; height: 142px; position: relative; margin: 0;">
        <img src="{{ header_logo_url }}" alt="StrainRx"
             style="height: 100px; margin: 14px auto; position: relative">
    </div>

    <div class="envelope-holder"
         style="display: inline-block; position: relative; top: -40px; background-color: white; border-radius: 60px; width: 110px; height: 110px;">

        <div class="envelope"
             style="height: 100px; width: 100px; margin: 5px; border-radius: 50px; background-color: #10b3dc; position: relative;">

            <img src="{{ envelope_image_url }}" alt="StrainRx"
                 style="width: 60px; height: 60px; margin: 20px; position: relative;">
        </div>
    </div>

</header>