{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}About StrainRx{% endblock %}

{% block meta_description %}{{ page_meta.meta_desc|default:"StrainRx is a source of strain information for cannabis users to identify and locate the medicine is optimal for their particular needs." }}{% endblock meta_description %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/about.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container about-wrapper">
        <div class="about-header">
            <h1>About StrainRx</h1>
            {% include 'pages/common/social_icons.html' %}
        </div>
        <div class="about-section">
          <p>StrainRx is a patent-pending technology platform with the mission of providing trustworthy and educational information on cannabis. It’s meant to help medical marijuana patients unlock the plant’s therapeutic benefits as well as to enable recreational users to create experiences they desire. </p>
          <p>We stand behind purposeful and responsible consumption of cannabis and offer a number of useful tools: the ability to identify and obtain strains ideally suited for particular needs, to compare prices, see others’ reviews on products or vendors, or just learn about the history of your favorite strains and what plant-based molecules might be helpful in treating your conditions. Our goal is to give you a way to choose products beyond looking at nearly identical jars of cannabis in a dispensary’s display case. In fact, we hope to facilitate the process so that you know what you want before ever stepping foot in a dispensary (or calling for delivery). </p>
          <p>Our <a href="{% url 'search:strain_wizard' %}">recommendation engine</a> asks 4 questions to determine a person’s set of preferences. Based on the answers, a list of strains matching those preferences is generated. Think of this engine as a really smart bud-tender, who knows you personally and is capable of answering all of your questions.</p>
          <p>Once our user knows what strains are optimal for their desired outcomes, it is time to go get those strains! StrainRx enables the filtering of our recommendations based on a user's location, so that they could find their favorite buds whenever and wherever they may be.</p>
          <p>StrainRx has a number of ways to document strain related attributes and background information. First and foremost, we make it a priority to interview growers, to determine from 1st party sources how each strain was created and for what purpose it was grown. We also power various cannabis competitions and synthesize strain profiles based on panels of qualified judges. To democratize the strain data further, we’ve enabled each strain to take “feedback” from users, where the strain attributes can be modify based on a person’s personal experiences. Modifying the attributes of your favorite strains will not only personalize your own results instantly, but the system will identify and incorporate significant changes automatically, ensuring that the knowledge base is always learning, improving, and reflecting patient preferences over time and on a global scale.</p>
          <p>With StrainRx, new as well as experienced patients can discover new strains or strains similar to those they love, read and write reviews, and discover new vendors. The site hosts one of the largest and most frequently updated cannabis databases on the internet and as such it is one of the best places to <a href="{% url 'home' %}">look up a strain</a>.</p>
          <p><a href="{% url 'users:signup' %}">Create your account</a> and start using StrainRx today!</p>
    </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var urls = W.common.Sharer.getSharerUrls(encodeURIComponent(window.location.href));

            $('.facebook-share-link').attr('href', urls.facebook);
            $('.google-share-link').attr('href', urls.google);
            $('.twitter-share-link').attr('href', urls.twitter);
        });
    </script>
{% endblock %}
