{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}Home{% endblock %}

{% block css %}
    <link href="{% static 'css/pages/base.css' %}" rel="stylesheet">
    <style>
        /* This overrides needs only on home page */
        /* Do not remove */
        .nav-region {
            background-color: #2f3f4c; /* dark-grey */
        }

        .nav-list .nav-menu-btn-wrapper .nav-menu-btn {
            color: #fff; /* white */
        }

        .nav-list .nav-menu-btn-wrapper .nav-menu-btn .user-name,
        .nav-list .nav-menu-btn-wrapper .nav-menu-btn .resend-email-link {
            color: #10b3dc; /* blue */
        }

        .footer-region {
            background: #1e1e1e; /* black */
            text-align: left;
        }

        .footer-region a,
        .footer-region .separator:after,
        .footer-region .copyright-wrapper,
        .footer-region .links-wrapper .links {
            color: #fff;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="home-row-01">
        <div class="home-sub-row-01">
            <div class="location-holder">
                <form method="post">
                    {% csrf_token %}
                    <fieldset>
                        <label for="location" class="your-location">
                            <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Your Location:</label>
                        <input id="location" type="text" class="your-location-value"
                               placeholder="Enter your address below"/>
                        <i class="fa fa-check check" aria-hidden="true"></i>
                    </fieldset>
                </form>
            </div>
            <div class="favourites-holder">
                <span class="favourites">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="home-sub-row-02">
            <h1>Find Your Perfect Strain</h1>
            <p>Use our customized strain matching system to find the perfect strain for your needs</p>
            <button class="btn-primary btn-lets-go" type="button">Let's Go!</button>
        </div>
    </div>

    <div class="home-row-02 search-box-holder">
        <div class="search-box">
            <i class="fa fa-search fa-3x" aria-hidden="true"></i>
            <h2>Strains Look Up</h2>
            <p>Use our specialized search engine to find the strain you're looking for</p>

            <form class="search-form" method="post">
                {% csrf_token %}
                <input type="text" name="searchQuery" id="search-input"
                       placeholder="Example: Blue Dream, Maiu Wowie, Pineapple express"/>
                <button class="btn-primary" type="submit">Look Up Strain</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/pages/home.js' %}"></script>
    <script type="text/javascript">
        new W.pages.HomePage();
    </script>
{% endblock %}