{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}Home{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/home.css' %}" rel="stylesheet">
    <style>
        /* Overrides related only to home page. Keep them here. */
        html, body {
            margin: 0;
        }

        .nav-region {
            background-color: #2f3f4c;
        }

        .nav-list .nav-menu-btn-wrapper .nav-menu-btn {
            color: #fff;
        }

        .nav-list .nav-menu-btn-wrapper .nav-menu-btn .user-name,
        .nav-list .nav-menu-btn-wrapper .nav-menu-btn .resend-email-link {
            color: #10b3dc;
        }

        .footer-region {
            background: #231f20;
        }

        .footer-region a,
        .footer-region .separator:after,
        .footer-region .copyright-wrapper,
        .footer-region .links-wrapper .links {
            color: #fff;
        }

        @media (max-width: 479px) {
            .footer-region {
                padding: 0;
                text-align: left;
                line-height: 2em;
                height: 15em;
            }

            .footer-region .container {
                padding: 1.5em 3em 2em;
            }

            .footer-region .separator:after {
                content: '';
                padding: 0;
            }

            .footer-region .links li {
                width: 49%;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="home-row-01">
        <div class="container">
            <div class="home-sub-row-01">
                <div class="location-holder">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset>
                            <label for="location" class="your-location">
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Your Location:</label>
                            <input id="location" type="text" class="your-location-value"
                                   placeholder="Enter your address"/>
                            <i class="fa fa-check check" aria-hidden="true"></i>
                            <span class="removable remove-location hidden" title="Clear value"></span>
                        </fieldset>
                    </form>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="favorites-holder">
                    <span class="favorites">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </span>
                    </div>
                {% endif %}
            </div>
            <div class="home-sub-row-02">
                <h1>Find Your Perfect Strain</h1>
                <p>Use our customized strain matching system to find the perfect strain for your needs</p>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_email_verified %}
                        <a href="{% url 'search:strain_wizard' %}">
                            <button class="btn-primary btn-lets-go" type="button">Let's Go!</button>
                        </a>
                    {% else %}
                        <a href="#">
                            <button class="btn-primary btn-lets-go" type="button">Let's Go!</button>
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'users:signup' %}">
                        <button class="btn-primary btn-lets-go" type="button">Let's Go!</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="home-row-02 search-box-holder">
        <div class="container">
            <div class="search-box">
                <i class="fa fa-search fa-3x" aria-hidden="true"></i>
                <h1>Look Up a Strain</h1>
                <p>Have a strain in mind? Look it up here:</p>

                <form class="search-form">
                    {% csrf_token %}
                    <div class="form-field strain-name-field"></div>
                    <button class="btn-primary lookup-submit" type="submit">Look Up Strain</button>
                </form>
            </div>
        </div>
    </div>

    {% include 'common/strain_lookup.html' %}

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/pages/home.js' %}"></script>
    <script src="{% static 'js/pages/strain/strain_lookup.js' %}"></script>
    <script type="text/javascript">
        new W.pages.HomePage({
            location: {% if request.user.is_authenticated %}
                {{ request.user.get_location_json | safe }} {% else %} null {% endif %},
            authenticated: '{{ request.user.is_authenticated }}' == 'True',
            userId: {% if request.user.is_authenticated %} {{ request.user.id }} {% else %} null {% endif %}
        });
    </script>
{% endblock %}