@import '../mixins/variables';

.form-dialog {
    display: block;
    position: relative;

    form {
        display: block;
        position: relative;
        width: 100%;
        height: 90%;

        .form-actions {
            display: block;
            position: absolute;
            bottom: 0.5em;
            width: 100%;
            text-align: center;
        }
    }
}

.ui-dialog {
    border-radius: 1em;
    color: $grey-light;

    .ui-dialog-titlebar {
        padding: 1em;
        color: $grey-light;
    }

    .ui-dialog-titlebar-close {
        right: 1em;
    }

    .ui-dialog-title {
        font-size: 18px;
    }

    .ui-dialog-content {
        .dialog-actions {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}

.ui-widget-header {
    background: none;
    border: none;
}

.ui-widget.ui-widget-content {
    border: 2px solid $iris-blue;
}

.ui-widget-content {
    color: $grey-light;
}

.confirm-dialog {
    .dialog-actions {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0.5em;
        left: 0;
        padding: 0 1em;
        text-align: center;
    }

    .btn-primary,
    .btn-secondary {
        padding: 0.75em 1.5em;
        width: 45%;
    }
}

.srx-dialog {
    position: relative;
    border-radius: 0;
    padding: 0;
    margin: 0;

    .ui-dialog-titlebar {
        padding: 0.5em;
    }

    .ui-dialog-titlebar-close {
        right: 0.5em;
    }

    .ui-dialog-content {
        position: relative;
        padding: 0 0.5em;

        .dialog-title {
            display: block;
            position: relative;
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            padding-bottom: 0.5em;
            color: $grey-dark;
        }

        .dialog-header {
            display: block;
            position: relative;
            width: 100%;
        }

        .dialog-footer {
            display: block;
            position: relative;
            width: 100%;
            bottom: 0;
            left: 0;
            text-align: center;
            padding: 1em 0;
        }
    }
}

.srx-dialog.ui-widget-content {
    border: none;
}