{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>StrainRX - {% block title %}Strains Web{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'css/vendor/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendor/jquery.rateyo.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
        <link href="{% static 'css/pages/base.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body>
<div class="strains-wrapper">
    <header>
        <nav class="nav-region navbar">
            <div class="container nav-container">
                <div class="nav-brand-wrapper">
                    <a class="navbar-brand logo" href="{% url 'home' %}">Strains</a>
                </div>
                <div class="nav-list-wrapper">
                    <a href="#" class="mobile-menu hidden">
                        <i class="fa fa-align-justify fa-2x" aria-hidden="true"></i>
                    </a>
                    <div class="nav-list">
                        {% if request.user.is_authenticated %}
                            <div class="auth-menu">
                                <div class="nav-menu-btn-wrapper">
                                    <a class="nav-menu-btn">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Welcome <span class="user-name">{{ request.user.first_name }}</span>
                                        {% if not request.user.is_email_verified %}
                                            <span class="separator"></span>
                                            <a class="resend-email-link" href="#">Verify Email</a>
                                        {% else %}
                                            <span class="separator"></span>
                                            <a class="nav-link" href="{% url 'users:detail' request.user.username %}">
                                                My Account</a>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="nav-menu-content">
                                    <div class="action">
                                        <a class="nav-link" href="{% url 'account_logout' %}">Sign out</a>
                                    </div>
                                    <div class="action location">
                                        <span><i class="fa fa-dot-circle-o"
                                                 aria-hidden="true"></i> UPDATE LOCATION</span>
                                        <span>12345, Santa Monica, LA</span>
                                        <a class="update-location-href" href="#">Update location</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <ul class="pull-right">
                                <li class="nav-list-item">
                                    <a class="nav-link sign-up-link" href="{% url 'users:signup1' %}">Sign Up</a>
                                    <span class="separator"></span>
                                </li>
                                <li class="nav-list-item">
                                    <a class="nav-link log-in-link" href="{% url 'account_login' %}">Sign In</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="main-region">
        {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
    </main>
</div>

<footer class="footer-region">
    <div class="container">
        <div class="links-wrapper">
            <ul class="links">
                <li><a href="{% url 'home' %}">Home</a><span class="separator"></span></li>
                <li><a href="#">Strains Tech</a><span class="separator"></span></li>
                <li><a href="{% url 'about' %}">About Us</a><span class="separator"></span></li>
                <li><a href="{% url 'privacy' %}">Privacy Policy</a><span class="separator"></span></li>
                <li><a href="{% url 'terms' %}">Terms of Use</a><span class="separator"></span></li>
                <li><a href="{% url 'contact' %}">Contact Us</a><span class="separator"></span></li>
                <li><a href="{% url 'home' %}">Dispensary Login</a></li>
            </ul>
        </div>
        <div class="copyright-wrapper">
            <span class="copyrights">&copy; 2016 Strains. All rights reserved.</span>
        </div>
    </div>
</footer>

<div id="loading-spinner">
    <i class="fa fa-spinner fa-pulse"></i>
</div>

{% block javascript %}
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/vendor/lodash.min.js' %}"></script>
    <script src="{% static 'js/vendor/class.js' %}"></script>
    <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.rateyo.min.js' %}"></script>
    <script src="{% static 'js/pages/common.js' %}"></script>
    <script src="{% static 'js/views/base_view.js' %}"></script>
    <script src="{% static 'js/pages/base.js' %}"></script>
    <script src="{% static 'js/common/constants.js' %}"></script>
    <script src="{% static 'js/common/dialog.js' %}"></script>
    <script type="text/javascript">
        W.Base.init();
    </script>
{% endblock javascript %}

</body>

{% block modal %}{% endblock modal %}

</html>

