{% load staticfiles i18n %}

<footer class="footer-region">
    <div class="container">
        <div class="links-wrapper">
            <ul class="links">
                <li><a href="{% url 'home' %}">Home</a><span class="separator"></span></li>
                <li><a href="{% url 'home' %}">Strains Tech</a><span class="separator"></span></li>
                <li><a href="{% url 'about' %}">About Us</a><span class="separator"></span></li>
                <li><a href="{% url 'privacy' %}">Privacy Policy</a><span class="separator"></span></li>
                <li><a href="{% url 'terms' %}">Terms of Use</a><span class="separator"></span></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>

                {% if not request.user.is_authenticated %}
                    <li class="vendor-signup">
                        <span class="separator"></span>
                        <a href="{% url 'businesses:signup' %}">Vendor Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="copyright-wrapper">
            <span class="copyrights">&copy; 2016 Strains. All rights reserved.</span>
        </div>
    </div>
</footer>
