{% load staticfiles i18n %}
{% load business_template_tags %}

<nav class="nav-region navbar">
    <div class="container nav-container">
        <div class="nav-brand-wrapper">
            <a class="navbar-brand logo" href="{% url 'home' %}">
                <img src="{% static 'images/logo_hr.png' %}" alt="StrainRx">
            </a>
        </div>

        <div class="nav-tabs-wrapper">
            <div class="action blue-link">
                <a class="nav-link strain-wizard-link" href="{% url 'search:strain_wizard' %}">
                    Strain Recommendation</a>
            </div>
            <span class="separator"></span>
            <div class="action blue-link">
                <a class="nav-link" href="{% url 'home' %}">
                    Strain Lookup</a>
            </div>
            <span class="separator"></span>
            <div class="action blue-link">
                <a class="nav-link" href="{% url 'businesses:dispensaries_list' %}">
                    Find a Dispensary</a>
            </div>
            <span class="separator"></span>
            <div class="action blue-link">
                <a class="nav-link" href="/cannabis-guide/">
                    Cannabis Guide</a>
            </div>
        </div>

        <div class="nav-list-wrapper">
            <a href="#" class="mobile-menu hidden">
                <i class="fa fa-align-justify fa-2x" aria-hidden="true"></i>
            </a>
            <div class="nav-list">
                {% if request.user.is_authenticated %}
                    <div class="auth-menu">
                        <div class="nav-menu-btn-wrapper">
                            {% if request.user.type == 'consumer' %}
                                <a class="nav-menu-btn">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="#">
                                        <span class="user-name">{{ request.user.first_name }}</span>
                                    </a>
                                    <span class="pointer">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </span>
                                    {% if not request.user.is_email_verified %}
                                        <span class="separator verify-email-nav-link"></span>
                                        <a href="{% url "users:signup_done" %}" class="verify-email-nav-link">
                                            Verify Email
                                        </a>
                                    {% endif %}
                                </a>
                            {% elif request.user.type == 'business' %}
                                <div class="business-image">
                                    {% if request.session.business_image %}
                                        <img src="{{ request.session.business_image }}">
                                    {% else %}
                                        <img src="{% static 'images/default-location-image.jpeg' %}">
                                    {% endif %}
                                </div>
                                <div class="business-nav-menu-btn">
                                    <span class="business-name">{{ request.session.business.name }}</span>
                                    <span class="business-active-since">
                                        Active since {% to_active_since_date request.session.business.created_date %}
                                    </span>
                                    {% if not request.user.is_email_verified %}
                                        <span class="business-verify-location">
                                            <a href="{% url "businesses:signup_done" %}" class="verify-email-nav-link">
                                                Verify Email
                                            </a>
                                        </span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="nav-menu-content">
                            {% if request.user.type == 'consumer' %}
                                <div class="action blue-link">
                                    <a class="nav-link" href="{% url 'users:detail' request.user.id %}">
                                        My Account</a>
                                </div>
                                <div class="action blue-link">
                                    <a class="nav-link strain-wizard-link" href="{% url 'search:strain_wizard' %}">
                                        Strain Recommendation</a>
                                </div>
                                <div class="action blue-link">
                                    <a class="nav-link" href="{% url 'home' %}">
                                        Strain Lookup</a>
                                </div>
                                <div class="action blue-link">
                                    <a class="nav-link" href="{% url 'businesses:dispensaries_list' %}">
                                        Find a Dispensary</a>
                                </div>
                                <div class="action blue-link">
                                    <a class="nav-link" href="/cannabis-guide/">
                                        Cannabis Guide</a>
                                </div>
                                <div class="action">
                                    <a class="nav-link" href="{% url 'account_logout' %}">Sign out</a>
                                </div>
                                <div class="action location">
                                    <span>
                                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i> UPDATE LOCATION
                                    </span>
                                    {% with l=request.user.get_location_json %}
                                        <span class="nav-bar-user-street">{{ l.street1 }}</span>
                                        <span class="nav-bar-user-location">{{ l.city }}, {{ l.state }}, {{ l.zipcode }}</span>
                                    {% endwith %}
                                    <a class="update-location-href" href="#">Update location</a>
                                </div>
                            {% elif request.user.type == 'business' %}
                                <div class="action">
                                    {% if request.user.is_email_verified %}
                                        <a href="{% url 'businesses:detail' request.session.business.id %}"
                                           class="nav-link">Business Account</a>
                                    {% else %}
                                        <a href="{% url "businesses:signup_done" %}">Business Account</a>
                                    {% endif %}
                                </div>
                                <div class="action">
                                    <a href="{% url 'users:detail' request.user.id %}"
                                       class="nav-link">My Account</a>
                                </div>
                                <div class="action">
                                    <a class="nav-link" href="{% url 'account_logout' %}">Sign out</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <ul class="pull-right">
                        <li class="nav-list-item">
                            <a class="nav-link sign-up-link" href="{% url 'users:signup' %}">Sign Up</a>
                            <span class="separator"></span>
                        </li>
                        <li class="nav-list-item">
                            <a class="nav-link log-in-link" href="{% url 'account_login' %}">Sign In</a>
                        </li>
                        <li class="nav-list-item mobile">
                            <a class="nav-link log-in-link" href="{% url 'search:strain_wizard' %}">Strain Recommendation</a>
                        </li>
                        <li class="nav-list-item mobile">
                            <a class="nav-link log-in-link" href="{% url 'home' %}">Strain Lookup</a>
                        </li>
                        <li class="nav-list-item mobile">
                            <a class="nav-link log-in-link" href="{% url 'businesses:dispensaries_list' %}">Find a Dispensary</a>
                        </li>
                        <li class="nav-list-item mobile">
                            <a class="nav-link log-in-link" href="/cannabis-guide/">Cannabis Guide</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>