@import '../../mixins/variables';

#content {
    margin: 0 auto 2em;
    width: 90%;

    .article-title {
        font-size: 2em;
        text-transform: uppercase;
        font-weight: bold;
        margin: .5em 0 .5em 0;
        color: #7CBE66;
    }    

    .article-content {

    }
}

@media (max-width: $screen-sm-min) {
    .article-title {
        font-size: 2.5em;        
    }

    .article-content {
        font-size: 1.25em;
    }
}
