@import '../../mixins/variables';

.nav-region {
    background-color: $grey-dark;
}

.business-account-header-background {
    display: block;
    position: relative;
    height: 22em;
    width: 100%;
    left: 0;
    background-color: $grey-blue;
}

.business-account-container {
    margin-top: -22em; // .business-account-header-background height

    .business-account-page-wrapper {
        display: block;
        position: relative;
        width: 100%;

        .business-account-header {
            width: 70%;
            height: 17em;
            margin: 0 auto;

            .business-image {
                display: inline-block;
                position: relative;
                top: 3em;
                height: 82%;

                img {
                    width: auto;
                    max-width: 14em;
                    max-height: 14em;
                }

                .upload-business-image-link-wrapper {
                    width: 100%;
                    margin: 0.5em auto 0;
                    text-align: center;
                    color: $grey-dark;

                    .upload-business-image {
                        width: 0.1px;
                        height: 0.1px;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                        z-index: -1;
                    }

                    .upload-business-image + label {
                        display: block;
                        cursor: pointer;
                    }
                }
            }

            .business-info {
                display: inline-block;
                position: relative;
                vertical-align: top;
                height: 82%;
                top: 3em;
                margin-left: 2em;
                color: $white;

                .location-type {
                    display: block;
                    margin-top: 0.5em;
                }

                .address {
                    margin-top: 2em;

                    span {
                        display: block;
                        line-height: 1.2em;
                    }
                }

                .phone {
                    line-height: 4em;
                }

                .btn-edit-info {
                    position: absolute;
                    bottom: 0;
                    background-color: $grey;
                    width: 10em;
                    padding: 0.5em 1em;
                    border: 2px solid $iris-blue;
                }
            }

            .account-header-menu {
                display: inline-block;
                position: absolute;
                top: 6em;
                left: 58%;
                width: 10em;
                vertical-align: top;
                margin-left: 3%;

                .header-menu-item {
                    display: inline-block;
                    margin: 0 5%;
                    height: 4em;

                    i {
                        color: $iris-blue;
                        width: 1.5em;
                        text-align: center;
                    }

                    a {
                        position: relative;
                        top: 0.4em;
                        vertical-align: top;
                        color: $iris-blue;
                        font-weight: bold;
                    }
                }
            }
        }

        .account-menu {
            position: relative;
            width: 70%;
            margin: 1.9em auto 0;

            .account-menu-nav-link {
                display: inline-block;
                width: 12em;
                line-height: 3em;
                margin-right: -0.4em;
                border: 1px solid $grey-light;
                text-align: center;
                background-color: $iris-blue;
                cursor: pointer;

                a {
                    display: block;
                    width: 12em;
                    line-height: 3em;
                    color: $white;
                }
            }

            .account-menu-nav-link.active {
                background-color: $white;
                font-weight: bold;

                a {
                    color: $grey-dark;
                }
            }
        }

        .business-account-tab-content {
            display: block;
            width: 70%;
            margin: 0 auto;

            .form {
                display: block;
                position: relative;
                margin: 3em 0;

                .form-field-group {
                    float: none;

                    .form-field {
                        margin: 0 1em 0 0;
                    }
                }

                .form-actions {
                    display: block;
                    margin-top: 3em;
                }
            }

            .details-form {
                .form-field {
                    width: 100%;

                    .locations {
                        display: inline-block;
                        width: 100%;

                        .label {
                            display: inline-block;
                            width: 20%;
                        }

                        select {
                            width: 55%;
                            padding: 1em 2.5em 1em 1em;
                            background: none;
                            position: relative;
                            z-index: 10;
                        }

                        .pointer {
                            position: absolute;
                            font-size: 2em;
                            color: $iris-blue;
                            left: 72%;
                            background-color: $white;
                        }
                    }

                    label {
                        display: inline-block;
                        width: 20%;
                        color: $grey;
                    }

                    input, select {
                        display: inline-block;
                        width: 55%;
                        border-radius: 0.5em;
                    }

                    .location-select {
                        width: 91%;
                        cursor: pointer;
                    }
                }

                .textarea-field {
                    label {
                        vertical-align: top;
                        line-height: 10em;
                    }

                    textarea {
                        width: 55%;
                        height: 10em;
                        padding: 1em 2.5em 1em 1em;
                        border-radius: 0.5em;
                        border: 1px solid $grey-normal;
                        resize: none;
                        color: $grey-normal;
                    }
                }

                .phone-field-group {
                    width: 100%;

                    .form-field:first-child {
                        display: inline-block;
                        width: 49%;
                        margin: 0;

                        label {
                            display: inline-block;
                            width: 41%;
                        }
                    }

                    .form-field:last-child {
                        display: inline-block;
                        width: 26.5%;
                        margin: 0;

                        label {
                            display: inline-block;
                            width: 41%;
                            text-align: right;
                            padding-right: 1em;
                        }

                        input {
                            width: 54%;
                        }
                    }
                }

                .business-type-field-group {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 85%;
                    width: 20%;
                    margin: 0;
                    color: $grey;

                    h3 {
                        margin-bottom: 0.5em;
                    }

                    input {
                        width: 15%;
                    }

                    label {
                        width: 80%;
                        line-height: 2em;
                    }
                }

                .hours-field-group {
                    color: $grey;

                    h3 {
                        margin-top: 2em;
                        margin-bottom: 1em;
                    }

                    .day-wrapper {
                        .separator {
                            display: inline-block;
                            width: 5%;
                            text-align: center;
                        }

                        .separator:after {
                            content: '-';
                            padding: 0;
                        }

                        .day {
                            display: inline-block;
                            width: 13%;
                            text-align: right;
                            padding-right: 1em;
                        }

                        .hours {
                            display: inline-block;
                            width: 50%;

                            .open-hours,
                            .close-hours {
                                display: inline-block;
                                width: 30%;
                            }

                            select {
                                width: 100%;
                            }
                        }

                        .is-closed-wrapper {
                            display: inline-block;
                            margin-left: 1em;
                            width: 20%;

                            input {
                                width: 18%;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $screen-sm-min) {
        .business-account-page-wrapper {
            .business-account-header {
                width: 80%;

                .business-image {
                    display: inline-block;
                    top: 1em;
                    width: 20%;
                    text-align: center;

                    img {
                        width: 100%;
                    }
                }

                .business-info {
                    top: 1em;
                    font-size: 85%;
                }

                .account-header-menu {
                    margin: 1em auto;
                    top: 3em;
                    left: 70%;

                    .header-menu-item {
                        margin: 0;
                    }
                }
            }

            .account-menu {
                width: 80%;
                line-height: 3em;

                .account-menu-nav-link {
                    width: 33%;

                    a {
                        width: 100%;
                    }
                }
            }

            .business-account-tab-content {
                width: 80%;

                .details-form {
                    .business-type-field-group {
                        position: relative;
                        left: 0;
                        width: 100%;

                        .form-field {
                            display: inline-block;
                            width: 25%;

                            input {
                                width: 1em;
                            }

                            label {
                                width: 80%;
                                line-height: 2em;
                            }
                        }
                    }

                    .hours-field-group .day-wrapper .day {
                        width: 22%;
                    }

                    .hours-field-group .day-wrapper .hours {
                        width: 75%;
                        .open-hours,
                        .close-hours {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        .business-account-page-wrapper {
            .business-account-header {
                width: 100%;
                height: 22em;
                margin-bottom: -2.7em;

                .business-image {
                    display: inline-block;
                    width: 30%;
                    height: 50%;

                    img {
                        width: 100%;
                    }
                }

                .business-info {
                    font-size: 70%;
                    width: 45%;
                    height: 50%;
                }

                .account-header-menu {
                    display: block;
                    position: relative;
                    width: 100%;
                    left: 0;
                    top: 1em;
                    text-align: center;
                    height: 2em;
                }
            }

            .account-menu {
                width: 100%;
                text-align: center;
                margin: 0;

                .account-menu-nav-link {
                    display: inline-block;
                    font-size: 75%;
                    margin-right: -0.5em;
                }
            }

            .business-account-tab-content {
                width: 100%;

                .details-form {
                    .form-field {
                        .select {
                            display: inline-block;
                            width: 60%;

                            .fa-sort-desc {
                                position: relative;
                                font-size: 2em;
                                color: $iris-blue;
                                left: -1.2em;
                            }
                        }

                        label {
                            width: 6em;
                        }

                        input, select {
                            width: 60%;
                        }

                        .location-select {
                            width: 90%;
                        }
                    }

                    .phone-field-group {
                        .form-field:first-child {
                            display: block;
                            width: 100%;

                            label {
                                width: 6em;
                            }
                        }

                        .form-field:last-child {
                            display: block;
                            width: 100%;

                            label {
                                width: 6em;
                                padding-right: 0;
                                text-align: left;
                            }

                            input {
                                width: 20%;
                            }
                        }
                    }

                    .business-type-field-group {
                        position: relative;
                        left: 0;
                        width: 100%;

                        .form-field {
                            display: inline-block;
                            width: 40%;

                            input {
                                width: 1em;
                            }

                            label {
                                width: 80%;
                                line-height: 2em;
                            }
                        }
                    }

                    .hours-field-group .day-wrapper .day {
                        width: 6em;
                    }

                    .hours-field-group .day-wrapper .hours {
                        width: 75%;

                        .open-hours,
                        .close-hours {
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}
