.legal-wrapper {
  margin-bottom: 4em; }
  .legal-wrapper .paragraph {
    display: block;
    width: 100%;
    line-height: 1.2em;
    margin-bottom: 1em;
    text-align: justify; }
    .legal-wrapper .paragraph .bold {
      display: inline-block !important;
      font-weight: bold; }
    .legal-wrapper .paragraph .header {
      font-weight: bold;
      margin-bottom: 0.4em; }
    .legal-wrapper .paragraph .sub-paragraph {
      margin-bottom: 0.2em; }
      .legal-wrapper .paragraph .sub-paragraph .header {
        font-weight: bold;
        margin: 0.4em 0.4em 0.4em 0; }
      .legal-wrapper .paragraph .sub-paragraph span {
        display: block; }
      .legal-wrapper .paragraph .sub-paragraph ol {
        padding-left: 30px;
        line-height: 1.5em;
        margin: 0.5em 0; }
      .legal-wrapper .paragraph .sub-paragraph table {
        margin: 0.5em 0; }
        .legal-wrapper .paragraph .sub-paragraph table thead {
          line-height: 2em; }
          .legal-wrapper .paragraph .sub-paragraph table thead tr th {
            padding-bottom: 1em; }
          .legal-wrapper .paragraph .sub-paragraph table thead tr th:nth-child(2) {
            padding-left: 2em; }
        .legal-wrapper .paragraph .sub-paragraph table tbody tr td {
          padding-bottom: 1em; }
        .legal-wrapper .paragraph .sub-paragraph table tbody tr td:nth-child(2) {
          padding-left: 2em; }
