@import '../../mixins/variables';

.disp-row-01 {
    background: $grey-light url(../../../images/dispensary_image.jpg) no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    height: calc(100vh - 51em);
    min-height: 30em;
    display: block;
    z-index: 1;

    h1 {
        margin: 0.5em 0 0;
        font-weight: normal;
        text-shadow: 0px 0px 10px #000000;
        font-size: 2em;
    }

    p {
        font-size: 1em;
        width: 100%;
        margin: 0 auto 2em auto;
    }

    .subtitle-container {
        hr {
            display: inline-block;
            width: 3em;
            position: relative;
            top: -0.25em;
        }

        p {
            text-shadow: 0px 0px 10px #000000;
            display: inline-block;
            margin: 0;
        }

    }

    .disp-sub-row-02 {
        display: block;
        width: 100%;
        color: $white;
        line-height: 2.5em;

        .btn-lets-go {
            width: 20.5em;
            height: 4em;
        }

        .find-delivery {
            color: #ffffff;
            text-decoration: underline;
            text-shadow: 0px 0px 10px #000000;
        }

        .search-box {
            display: block;
            width: 100%;
            color: $white;
            margin: 0 auto;
            text-align: center;

            i {
                padding: 0.75em 0;
            }

            p {
                margin: 1.5em 0;
            }

            .search-form {
                display: block;
                position: relative;
                width: 90%;
                margin: 0 auto;
                height: 8em;

                .dispensary-name-field {
                    display: inline-block;
                    width: 100%;
                    max-width: 30em;
                    text-align: left;
                }

                .disp-location-label {
                    display: inline-block;
                    position: relative;
                    left: 0.5em;
                    top: 1.1em;
                    color: $grey-normal;

                    &:hover {
                        cursor: pointer;
                        color: $grey-dark;
                    }
                }

                .disp-lookup-label {
                    position: relative;
                    top: 1em;
                    left: 0.5em;
                    color: $grey-normal;
                }

                .disp-location-container {
                    position: relative;
                    text-align: left;
                    display: inline-block;
                    width: 100%;
                    max-width: 30em;
                    padding: 0;
                    margin: 0 0 1em 0;
                }

                .lookup-submit {
                    width: 10em;
                    border: 1px $white solid;
                    background-color: $green-apple;
                    font-size: 1em;
                    font-weight: 500;
                    padding: 0.15em 0;
                    display: inline-block;
                    border-radius: 0.5em;

                    &:hover {
                        cursor: pointer;
                    }
                }

                input[type="text"] {
                    display: block;
                    width: 100%;
                    height: 3em;
                    padding: 1em 1em 1em 2em;
                    font-size: 0.9em;
                    border: none;
                    border-radius: 0.5em;
                    margin: 1.5em auto 0;
                    margin-top: -1.75em;
                    color: $grey-normal;
                    line-height: 1.2em;
                }

                button:focus,
                input:focus {
                    outline: none;
                }
            }
        }
    }
}


.dispensaries-list-container {
    position: relative;
    color: $grey;

    strong {
        color: $grey-dark;
    }

    .header-row {
        display: flex;

        h1 {
            flex: 1;
            margin-right: 10px;
        }
    }

    h2 {
        margin-top: 1em;
        margin-bottom: 0.2em;
    }

    h3 {
        margin-bottom: 2em;
        font-weight: normal;
    }

    .social-icons {
        font-size: 2em;
        margin: 0.67em auto;

        a {
            color: $grey;
        }

        a:hover {
            color: $iris-blue;
        }
    }

    .text {
        text-align: justify;
        margin: 2em auto;
        line-height: 1.6em;
    }

    .states-wrapper {
        display: block;
        margin-bottom: 2em;

        a {
            text-decoration: underline;
            vertical-align: top;
        }

        .description {
            display: block;
            width: 80%;
            vertical-align: top;
            line-height: 1.2em;
        }
    }

    .pager {
        margin: 1em auto;
        text-align: justify;

        span {
            cursor: pointer;
            user-select: none;
        }

        .page-letter {
            display: inline-block;
            border: 1px solid $grey;
            width: 1.2em;
            height: 1.4em;
            margin: 5px -1px;
            text-align: center;
        }

        .page-letter.active {
            background-color: $iris-blue;
            color: $white;
        }
    }

    .cities-wrapper {
        .page {
            margin: 1em 0 0 0;

            .city {
                display: inline-flex;
                width: 32%;
                height: 2em;
                margin-bottom: 1em;

                img {
                    height: 100%;
                }

                a {
                    display: inline-block;
                    line-height: 2em;
                    vertical-align: top;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        hr:last-child {
            display: none;
        }
    }

    .featured-wrapper {
        margin-top: 1em;

        a {
            font-weight: normal;
        }

        h3 {
            margin: 0 0 0.5em 0;
            font-size: 2em;
        }


        .featured-list {
            display: block;

            .col-3 {
                display: inline-block;
                width: 100%;
            }

        }

        .featured-header {
            font-size: 1.5em;
            padding-bottom: 0.5em;
        }

        .featured-item {
            border: 1px $grey-light solid;
            height: 100%;
            margin-bottom: 2em;
            padding: 1em 3em;
        }

        .col-3:nth-of-type(3) {
            .featured-item {
                margin-bottom: 0;
            }

        }

        .featured-content {
            display: block;
        }

        .featured-detail-list {
            margin-top: 1em;
        }

        .featured-detail {
            padding-bottom: 0.3em;
            white-space: nowrap;

            i {
                width: 1.3em;
                text-align: center;
                position: relative;
                top: -0.5em;
            }
        }

        .featured-detail-line-wrapper {
            display: inline;
        }

        .featured-detail-line {
            display: inline-block;
            font-size: 0.8em;
            line-height: 2em;
            padding-right: 1em;

            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

        }

        .featured-detail-line:nth-of-type(2) {
            padding-left: 1.9em;
            display: block;
        }

        .featured-image {
            width: 100%;
            max-width: 100%;

            margin:auto;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

    }

    .dispensaries-wrapper {
        .page {
            margin: 1em auto;
        }

        hr:last-child {
            display: none;
        }

        .dispensary-item {
            display: inline-block;
            width: 48%;
            margin-bottom: 2em;
            min-height: 13em;

            h2 {
                margin-bottom: 1em;

                a {
                    color: $grey-normal;
                }
            }

            .image {
                display: inline-block;
                width: 30%;
                text-align: center;
                border: 1px solid $grey;
                vertical-align: top;

                img {
                    max-width: 90%;
                    max-height: 90%;
                    vertical-align: middle;
                }
            }

            .data {
                display: inline-block;
                width: 65%;
                vertical-align: top;
                margin-left: 3%;

                div {
                    margin-bottom: 1em;

                    i {
                        width: 1em;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .disp-row-01 {
        height: calc(100vh - 50em);

        .subtitle-container {
            margin-bottom: 2em;

            hr {
                display: none;
            }
        }
    }
}

@media (min-width: $screen-xs-min) {
}

@media (min-width: $screen-sm-min) {
    .dispensaries-list-container {
        .social-icons {
            right: -16px;
        }

        .featured-detail-line {
            padding-right: 2em;
        }

        .featured-wrapper {
            h3 {
                font-size: 1.5em;
            }

            .featured-list {
                display: flex;

                .col-3 {
                    width: 33.33%;
                }

                .col-3:nth-of-type(1) {
                    .featured-item {
                        margin-right: 0.66em;
                    }
                }

                .col-3:nth-of-type(2) {
                    .featured-item {
                        margin-left: 0.33em;
                        margin-right: 0.33em;
                    }
                }

                .col-3:nth-of-type(3) {
                    .featured-item {
                        margin-left: 0.66em;
                        margin-right: 0;
                    }
                }

            }

            .featured-item {
                padding: 0.5em 1em;
                margin-right: 1em;
                margin-bottom: 0;
            }

            .featured-content {
                display: block;
            }

            .featured-header {
                margin: 0.25em 0 0.5em 0;
                font-size: initial;
                padding-bottom: 0;
            }

            .featured-detail-list {
                padding: 0;
                width: 100%;
                max-width: 100%;
            }

            .featured-detail-line {
                padding-right: 2em;
            }

            .featured-image {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .disp-row-01 {
        height: calc(100vh - 45em);

        h1 {
            margin-top: 1em;
        }

        p {
            font-size: 1.3em;
            width: 80%;
        }

        .subtitle-container {
            margin-bottom: 1em;

            hr {
                width: 10em;
                top: -0.5em;
            }

            .subtitle {
                width: 20em;
            }
        }

        .disp-sub-row-02 {
            .search-box {
                .search-form {
                    .payloads-region {
                        img {
                            top: 0.5em;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .dispensaries-list-container {
        .social-icons {
            right: -12px;
        }
    }

    .disp-row-01 {
        h1 {
            font-size: 3em;
            margin-bottom: 0.5em;
        }

        .disp-sub-row-02 {
            .subtitle-container {
                margin-bottom: 2.5em;
            }

            .search-box {
                width: 90%;

                .search-form {
                    width: 100%;

                    .disp-location-label {
                        top: 1em;
                    }

                    .disp-location-value {
                        margin: 1.5em auto 0;
                    }

                    .disp-location-container {
                        width: 18em;
                    }

                    .payloads-region {
                        img {
                            top: 0.4em;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-lg-min) {
    .dispensaries-list-container {
        .social-icons {
            right: -4px;
        }

        .featured-wrapper {
            .featured-header {
                margin: 0.25em 0 0.25em 0;
            }

            .featured-content {
                display: flex;
            }

            .featured-detail-list {
                padding: 0 0.5em;
                margin-top: 0;

                width: 60%;
                max-width: 60%;
            }

            .featured-image {
                width: 40%;
                max-width: 40%;
            }
            .featured-detail-line {
                padding-right: 2em;
            }
        }
    }

    .disp-row-01 {
        .disp-sub-row-02 {
            .search-box {
                width: 80%;
            }
        }
    }
}

@media (min-width: $screen-xl-min) {
    .dispensaries-list-container {
        .social-icons {
            right: 6px;
        }

        .featured-wrapper {
            .featured-header {
                margin: 0.25em 0 0.5em;
            }
        }
    }

    .disp-row-01 {
        h1 {
            font-size: 4em;
        }

        p {
            width: 70%;
            font-size: 1.7em;
        }

        .subtitle-container {
            hr {
                width: 14em;
            }
        }
    }

}

@media (min-width: $screen-xxl-min) {
    .dispensaries-list-container {
        .social-icons {
            right: 17px;
        }

        .featured-wrapper {
            .featured-header {
                margin: 0.25em 0 0.5em;
            }

            .featured-detail-list {
                width: 70%;
                max-width: 70%;
            }

            .featured-image {
                width: 30%;
                max-width: 30%;
            }
        }
    }

    .disp-row-01 {
        min-height: 28em;

        h1 {
            font-size: 5.6em;
        }

        p {
            width: 70%;
            font-size: 1.7em;
        }
    }
}
