@import '../../mixins/variables';

.disp-row-01 {
    background: $grey-light url(../../../images/dispensary_image.jpg) no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 30em;
    display: block;
    z-index: 1;

    h1 {
        margin: 1.5em 0.5em 0.5em;
        font-weight: normal;
        text-shadow: 0px 0px 10px #000000;
    }

    p {
        font-size: 1em;
        width: 100%;
        margin: 0 auto 2em auto;
    }

    .subtitle-container {
        hr {
            display: inline-block;
            width: 3em;
            position: relative;
            top: -0.25em;
        }

        p {
            text-shadow: 0px 0px 10px #000000;
            display: inline-block;
            margin: 0;
            width: 20em;
        }

    }

    .disp-sub-row-01 {
        display: block;
        position: relative;
        width: 100%;
        height: 8em;

        .location-holder {
            display: inline-block;
            position: absolute;
            left: 0;
            margin-top: 2em;
            line-height: 3em;
            width: 11em;

            form > fieldset {
                position: relative;
                border: none;
                padding: 0.35em 0.3em;
                margin: 0;
                text-align: left;
            }

            .check {
                margin-left: -30px;
            }

            .removable {
                display: none;
                position: relative;
                right: 2.4em;
                top: 0.44em;
                cursor: pointer;
            }

            .your-location {
                padding: 0.75em;
                border-radius: 0.5em;
                margin-right: 0;
                border: none;
                color: $white;
                background: $grey;
                opacity: 0.8;
            }

            .your-location-value {
                display: none;
                border: 1px solid $grey-dark;
                border-left: none;
                border-radius: 0 0.5em 0.5em 0;
                padding: 0.75em;
                width: 30em;
                opacity: 0.8;
                color: $grey-dark;
            }
        }

        .favorites-holder {
            display: inline-block;
            position: absolute;
            right: 0;
            margin-top: 2em;
            line-height: 3em;
            padding: 0.35em 0;
            opacity: 0.8;

            .favorites {
                border: 1px solid $grey;
                padding: 0.75em 1em;
                border-radius: 0.5em;
                background: $grey;
                color: $white;
                cursor: pointer;

                .fa-sort-desc {
                    position: relative;
                    top: -0.2em;
                    margin-left: 0.3em;
                }
            }
        }
    }

    .disp-sub-row-02 {
        display: block;
        width: 100%;
        color: $white;
        line-height: 2.5em;

        .btn-lets-go {
            width: 20.5em;
            height: 4em;
        }

        .find-delivery {
            color: #ffffff;
            text-decoration: underline;
            text-shadow: 0px 0px 10px #000000;
        }

        .search-box {
            display: block;
            width: 100%;
            color: $white;
            margin: 0 auto;
            text-align: center;

            i {
                padding: 0.75em 0;
            }

            p {
                margin: 1.5em 0;
            }

            .search-form {
                display: block;
                position: relative;
                width: 100%;
                margin: 0 auto;
                height: 8em;

                .dispensary-name-field {
                    display: inline-block;
                    width: 30em;
                    text-align: left;
                }

                .disp-location-label {
                    display: inline-block;
                    position: relative;
                    left: 0.5em;
                    top: 1.1em;
                    color: $grey-normal;

                    &:hover {
                        cursor: pointer;
                        color: $grey-dark;
                    }
                }

                .disp-lookup-label {
                    position: relative;
                    top: 1em;
                    left: 0.5em;
                    color: $grey-normal;
                }

                fieldset {
                    position: relative;
                    text-align: left;
                    display: inline-block;
                    width: 18em;
                }

                .lookup-submit {
                    width: 10em;
                    border: 1px $white solid;
                    background-color: $green-apple;
                    font-size: 1em;
                    font-weight: 500;
                    padding: 0.75em 0;
                }

                input[type="text"] {
                    display: block;
                    width: 100%;
                    height: 3em;
                    padding: 1em 1em 1em 2em;
                    font-size: 0.9em;
                    border: none;
                    border-radius: 0.5em;
                    margin: 1.5em auto 0;
                    margin-top: -1.75em;
                    color: $grey-normal;
                    line-height: 1.2em;
                }

                button:focus,
                input:focus {
                    outline: none;
                }

                .payloads-region {
                    display: block;
                    position: absolute;
                    top: 3.25em;
                    width: 30em;
                    color: $grey-normal;
                    background-color: $white;
                    border-bottom-left-radius: 0.5em;
                    border-bottom-right-radius: 0.5em;
                    z-index: 5;

                    img {
                        padding-right: 0.25em;
                        top: 0.35em;
                        position: relative;
                    }

                    .search-payload {
                        display: block;
                        padding: 0.25em;
                        text-align: left;
                        cursor: pointer;
                        font-size: 0.8em;

                        strong {
                            font-family: 'gotham_boldregular', sans-serif;
                            font-size: 1.2em;
                        }
                    }

                    .search-payload.active,
                    .search-payload:hover {
                        background-color: $aero-blue;
                        color: $grey-dark;
                        border-radius: 0.5em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}


.dispensaries-list-container {
    position: relative;
    color: $grey;

    strong {
        color: $grey-dark;
    }

    h2 {
        margin-top: 2em;
        margin-bottom: 0.2em;
    }

    h3 {
        margin-bottom: 2em;
        font-weight: normal;
    }

    .social-icons {
        font-size: 2em;
        display: block;
        position: absolute;
        width: 116px;
        top: -2em;
        left: 0.5em;
        float: left;
        margin: 0.67em auto;
        vertical-align: top;
        text-align: left;

        a {
            color: $grey;
        }

        a:hover {
            color: $iris-blue;
        }
    }

    .text {
        margin: 2em auto;
        line-height: 1.6em;
    }

    .states-wrapper {
        display: block;
        margin-bottom: 2em;

        a {
            text-decoration: underline;
            vertical-align: top;
        }

        .description {
            display: inline-block;
            width: 80%;
            vertical-align: top;
            line-height: 1.2em;
        }
    }

    .pager {
        margin: 1em auto;
        text-align: right;

        span {
            cursor: pointer;
            user-select: none;
        }

        .page-letter {
            display: inline-block;
            border: 1px solid $grey;
            width: 1.2em;
            height: 1.4em;
            margin: 5px -1px;
            text-align: center;
        }

        .page-letter.active {
            background-color: $iris-blue;
            color: $white;
        }
    }

    .cities-wrapper {
        .page {
            margin: 1em auto;

            .city {
                display: inline-block;
                width: 30%;
                height: 2em;

                img {
                    height: 100%;
                }

                a {
                    display: inline-block;
                    line-height: 2em;
                    vertical-align: top;
                }
            }
        }

        hr:last-child {
            display: none;
        }
    }

    .dispensaries-wrapper {
        .page {
            margin: 1em auto;
        }

        hr:last-child {
            display: none;
        }

        .dispensary-item {
            display: inline-block;
            width: 48%;
            margin-bottom: 2em;
            min-height: 13em;

            h2 {
                margin-bottom: 1em;

                a {
                    color: $grey-normal;
                }
            }

            .image {
                display: inline-block;
                width: 30%;
                text-align: center;
                border: 1px solid $grey;
                vertical-align: top;

                img {
                    max-width: 90%;
                    max-height: 90%;
                    vertical-align: middle;
                }
            }

            .data {
                display: inline-block;
                width: 65%;
                vertical-align: top;
                margin-left: 3%;

                div {
                    margin-bottom: 1em;

                    i {
                        width: 1em;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-xs-min) {
    .dispensaries-list-container {
        h1 {
            margin-top: 1em;
        }

        .social-icons {
            top: -0.8em;
            right: 0;
            left: initial;
            float: right;
            text-align: right;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .dispensaries-list-container {
    }

    .disp-row-01 {
        height: 34em;

        h1 {
            margin-top: 1em;
        }

        p {
            font-size: 1.3em;
            width: 80%;
        }

        .subtitle-container {
            hr {
                width: 10em;
                top: -0.5em;
            }
        }

        .disp-sub-row-01 {
            .location-holder {
                width: 80%;

                .your-location {
                    border: 1px solid $grey-dark;
                    border-radius: 0.5em 0 0 0.5em;
                    padding: 0.6em 0.75em 0.85em;
                    margin-right: -5px;
                }

                .your-location-value {
                    display: inline-block;
                }

                .check {
                    display: inline-block;
                }

                .removable {
                    display: inline-block;
                }
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .dispensaries-list-container {
    }

    .disp-row-01 {
        height: 32em;

        h1 {
            font-size: 4em;
        }

        .disp-sub-row-01 {
            height: 6em;

            .location-holder {
                .your-location {
                    padding: 0.72em 0.75em 0.8em;
                    margin-right: -6px;
                }
            }
        }

        .disp-sub-row-02 {
            .search-box {
                width: 80%;

                .search-form {
                    .disp-location-label {
                        top: 1em;
                    }

                    .disp-location-value {
                        margin: 1.5em auto 0;
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-lg-min) {
    .dispensaries-list-container {
    }

    .disp-row-01 {
        height: 34em;
    }
}

@media (min-width: $screen-xl-min) {
    .dispensaries-list-container {
    }

    .disp-row-01 {
        height: 38em;

        h1 {
            font-size: 5em;
        }

        p {
            width: 70%;
            font-size: 1.7em;
        }

        .subtitle-container {
            hr {
                width: 14em;
            }
        }

        .disp-sub-row-01 {
            .location-holder {
                .your-location {
                    padding: 0.65em 0.75em 0.85em;
                }
            }
        }
    }
}

@media (min-width: $screen-xxl-min) {
    .dispensaries-list-container {
    }

    .disp-row-01 {
        h1 {
            font-size: 5.6em;
        }

        p {
            width: 70%;
            font-size: 1.7em;
        }

        .disp-sub-row-01 {
            .location-holder {
                .your-location {
                    padding: 0.73em 0.75em 0.8em;
                    margin-right: -7px;
                }
            }
        }
    }
}
