<script type="x/srx-template" id="grower_partner_template">
    <% _.each(partnerships, function(p) { %>
        <div class="partner">
            <div class="line name">
                <a href="<%- p.dispensary.url %>"><%- p.dispensary.location_name %></a>
            </div>
            <div class="line address">
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="text">
                    <%- p.dispensary.formatted_address %>
                </div>
            </div>
            <div class="line phone">
                <div class="icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="text"><%- p.dispensary.phone %></div>
            </div>
            <div class="line email">
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="text">
                    <a href="mailto:<%- p.dispensary.location_email %>"><%- p.dispensary.location_email %></a>
                </div>
            </div>
        </div>
    <% }); %>
</script>