{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}{% if grower.meta_title %}{{ grower.meta_title }}{% else %}{{ grower.location_name }} Cultivator in {{ grower.city_fk.full_name }}, {{ grower.street1 }}{% endif %}{% endblock %}

{% block meta_keywords %}{{ grower.meta_keywords }}{% endblock meta_keywords %}

{% block meta_description %}{% if grower.meta_desc %}{{ grower.meta_desc }}{% else %}StrainRx brings you the most up to date menu and the latest deals from {{ grower.location_name }} in {{ grower.city_fk.full_name }}.{% endif %}{% endblock meta_description %}

{% block meta_social %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="{{ grower.og_type|default:"article" }}" />
    <meta property="og:title" content="{{ grower.og_title|default:grower.business.name }}" />
    <meta property="og:description" content="{{ grower.og_description|default:grower.meta_desc }}" />
    <meta property="og:image" content="{{ grower.social_image|default:logo }}" />

    <meta property="fb:app_id" content="{{ grower.fb_app_id }}" />

    <meta name="twitter:card" content="{{ grower.twitter_card|default:"summary_large_image" }}">
    <meta name="twitter:site" content="{{ grower.twitter_site|default:"@strainrx" }}">
    <meta name="twitter:author" content="{{ grower.twitter_author }}">

    {{ grower.meta_tags|safe }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/grower/grower_info.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% static 'images/weed_small.jpg' as default_image %}

<div class="container grower-detail">
    <div class="breadcrumbs">
        <ol>
            <li>
                <a href="{% url 'home' %}">Home</a>
                <span class="arrow">></span>
            </li>
            <li>
                <a href="{% url 'businesses:growers_list' %}">Growers</a>
                <span class="arrow">></span>
            </li>
            <li>
                <a href="{% url 'businesses:growers_state_list' grower.state_fk.abbreviation|lower %}">
                    {{ grower.state_fk.abbreviation }}
                </a>
                <span class="arrow">></span>
            </li>
            <li>
                <a href="{% url 'businesses:growers_city_list' grower.state_fk.abbreviation|lower grower.city_fk.full_name_slug %}">
                    {{ grower.city_fk.full_name }}
                </a>
                <span class="arrow">></span>
            </li>
            <li class="active">{{ grower.location_name }}</li>
        </ol>
    </div>

    <div class="content mobile">
        <div class="location-image">
            <img src="{{ grower.image_url }}"/>
        </div>
        <div class="location-name">
            <h1>{{ grower.location_name }}</h1>
            {% if grower.verified %}
            <div class="verified">
                <img src="{% static 'images/verified.png' %}"/>
            </div>
            {% endif %}
        </div>
        <hr class="spacer sm">
        <div class="about">
            {{ grower.about_or_default }}
        </div>
        {% if grow_details %}
        <div class="section how-we-grow">
            <div class="title">
                <hr class="spacer lg">
                <h2>HOW WE GROW</h2>
                <hr class="spacer lg">
            </div>
            <div class="content">
                {% for name, url in grow_details %}
                <div class="method">
                    <img src="{{ url }}" />
                    <div class="method-name">{{ name }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="section strains">
            <div class="title">
                <hr class="spacer lg">
                <h2>OUR STRAINS</h2>
                <hr class="spacer lg">
            </div>
            <div class="filters">
                <div class="filter active" data-filter="all"><u>All Strains</u></div>
                <div class="filter" data-filter="sativa"><u>Sativa</u></div>
                <div class="filter" data-filter="indica"><u>Indica</u></div>
                <div class="filter" data-filter="hybrid"><u>Hybrid</u></div>
            </div>
            <div class="content">
            {% for strain in menu %}
              {% with image_url=strain.strain_images.0.image.url|default:default_image %}
                <div class="strain" data-variety="{{ strain.variety }}">
                    <a class="image" href="{{ strain.url }}">
                        <img src="{{ image_url }}" />
                    </a>
                    <div class="details">
                        <div>
                            <a href="{{ strain.url }}">
                            {% if strain.common_name %}
                                {{ strain.common_name }}
                            {% else %}
                                {{ strain.name }}
                            {% endif %}
                            </a>
                            <div class="icons">
                              {% if strain.is_clean %}
                                <div class="is_clean">
                                  <img src="{% static 'images/search/clean.png' %}" title="Fully Organic">
                                </div>
                              {% endif %}
                              {% if strain.cup_winner %}
                                <div class="is_cup_winner">
                                  <img src="{% static 'images/search/cup.png' %}" title="Cup Winner">
                                </div>
                              {% endif %}
                            </div>

                            <div>{{ strain.variety }}</div>
                            {% if strain.is_high_cbd %}
                                <div class="has_high_cbd">high CBD</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
              {% endwith %}
            {% empty %}
              <div class="strain-placeholder">
                  None found
              </div>
            {% endfor %}
            </div>
        </div>
        <div class="section contact">
            <div class="title">
                <hr class="spacer lg">
                <h2>CONTACT</h2>
                <hr class="spacer lg">
            </div>
            <div class="content">
                <div class="contact-detail">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="phone">
                        {{ grower.phone }}
                        {% if grower.ext %}
                        ext. {{ grower.ext }}
                        {% endif %}

                    </div>
                </div>
                <div class="contact-detail">
                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="email"><a href="mailto:{{ grower.location_email }}">{{ grower.location_email }}</a></div>
                </div>
                <div class="contact-detail">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="address">
                        <div>{{ grower.street1 }}</div>
                        <div>{{ grower.city }}, {{ grower.state }}, {{ grower.zip_code }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section partners">
            <div class="title">
                <hr class="spacer lg">
                <h2>WHERE TO BUY</h2>
                <hr class="spacer lg">
            </div>
            <div class="content"></div>
        </div>
    </div>

    <div class="content desktop">
        <div class="header-row">
            <div class="image">
                <img src="{{ grower.image_url }}" />
            </div>
            <div class="info">
                <div class="name-row">
                    <div class="name">
                        <h1>{{ grower.location_name }}</h1>
                    </div>
                    {% if grower.verified %}
                    <div class="verified">
                        <img src="{% static 'images/verified.png' %}"/>
                    </div>
                    {% endif %}
                </div>
                <div class="spacer"></div>
                <div class="about-row">
                    {{ grower.about_or_default|linebreaks }}
                </div>
            </div>
        </div>
        <div class="strains-row">
            <div class="name-and-filters">
                <h1>Our Strains</h1>
                <div class="filters">
                    <div class="filter active" data-filter="all"><u>All Strains</u></div>
                    <div class="filter" data-filter="sativa"><u>Sativa</u></div>
                    <div class="filter" data-filter="indica"><u>Indica</u></div>
                    <div class="filter" data-filter="hybrid"><u>Hybrid</u></div>
                </div>
            </div>
            <div class="content">
            {% for strain in menu %}
              {% with image_url=strain.strain_images.0.image.url|default:default_image %}
                <div class="strain {% if forloop.counter|divisibleby:4 %}rightmost{% endif %}" data-variety="{{ strain.variety }}">
                    <a class="image" href="{{ strain.url }}">
                        <img src="{{ image_url }}" class="grower-strain-image"/>
                    </a>
                    <div class="details">
                        <div class="">
                            <a href="{{ strain.url }}">
                                {% if strain.common_name %}
                                    {{ strain.common_name }}
                                {% else %}
                                    {{ strain.name }}
                                {% endif %}
                                <div class="icons">
                                  {% if strain.is_clean %}
                                    <div class="is_clean">
                                      <img src="{% static 'images/search/clean.png' %}" title="Fully Organic">
                                    </div>
                                  {% endif %}
                                  {% if strain.cup_winner %}
                                    <div class="is_cup_winner">
                                      <img src="{% static 'images/search/cup.png' %}" title="Cup Winner">
                                    </div>
                                  {% endif %}
                                </div>
                            </a>

                            <div>{{ strain.variety }}</div>
                            {% if strain.is_high_cbd %}
                                <div class="has_high_cbd">high <b>CBD</b></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
              {% endwith %}
            {% empty %}
              <div class="strain-placeholder">
                None found
              </div>
            {% endfor %}

            </div>
        </div>
        <div class="details-row">
            {% if grow_details %}
            <div class="section how-we-grow">
                <div class="title">
                    <hr class="spacer lg">
                    <h2>HOW WE GROW</h2>
                    <hr class="spacer lg">
                </div>
                <div class="content">
                    {% for name, url in grow_details %}
                    <div class="method">
                        <img src="{{ url }}" />
                        <div class="method-name">{{ name }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="section contact">
                <div class="title">
                    <hr class="spacer lg">
                    <h2>CONTACT</h2>
                    <hr class="spacer lg">
                </div>
                <div class="content">
                    <div class="contact-detail">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="phone">
                            {{ grower.phone }}
                            {% if grower.ext %}
                            ext. {{ grower.ext }}
                            {% endif %}

                        </div>
                    </div>
                    <div class="contact-detail">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="email"><a href="mailto:{{ grower.location_email }}">{{ grower.location_email }}</a></div>
                    </div>
                    <div class="contact-detail">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="address">
                            <div>{{ grower.street1 }}</div>
                            <div>{{ grower.city }}, {{ grower.state }}, {{ grower.zip_code }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section partners">
                <div class="title">
                    <hr class="spacer lg">
                    <h2>WHERE TO BUY</h2>
                    <hr class="spacer lg">
                </div>
                <div class="content"></div>
            </div>
        </div>
    </div>

</div>

{% include "pages/grower/grower_partner_template.html" %}

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/pages/grower/grower_info.js' %}"></script>
    <script src="{% static 'js/pages/grower/grower_info_view.js' %}"></script>
    <script type="text/javascript">
        W.pages.grower.GrowerInfoView.init({
            growerId: {{ grower.id }},
            businessId: {{ grower.business_id }}
        });
    </script>
{% endblock %}