{% extends "users/base_profile.html" %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/users/user_proximity.css' %}" rel="stylesheet">
{% endblock %}

{% block profile-tab %}
    <div class="user-proximity-settings">
        {% if object == request.user %}
            <h2>Proximity Settings</h2>
            <span class="question">How far would you be willing to travel to get a recommended strain?</span>
            <div class="slider-area">
                <div class="slider"></div>
            </div>
            <span class="notice">This distance will be reflected in your StrainRx local Search results.</span>
            <div class="form-actions">
                <button type="button" class="btn-primary btn-update-proximity">Update</button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/users/user_proximity.js' %}"></script>
    <script src="{% static 'js/users/user_proximity_view.js' %}"></script>
    <script type="text/javascript">
        W.users.ProximityView.init({
            proximity: {% if request.user.proximity %} {{ request.user.proximity }} {% else %} null {% endif %}
        });
    </script>
{% endblock %}
