@import '../mixins/variables';

.user-profile {
  display: block;
  color: $grey-light;
  text-align: center;
}

.user-profile .profile-header {
  display: block;
  padding: 1em;
}

.user-profile .profile-content {
  display: block;
  padding: 3em 1em 5em;
}

.user-profile .profile-header .row {
  display: block;
}

.user-profile .profile-header .user-image-wrapper {
  display: inline-block;
  text-align: center;
  width: 8em;
  height: 10em;
}

.user-profile .profile-header .user-image-wrapper .user-image {
  width: 8em;
  height: 8em;
  margin: 0 auto;
  border: 1px solid $grey-light;
  border-radius: 4em;
}

.user-profile .profile-header .user-image-wrapper .user-image img {
  width: 5em;
  height: 5em;
  margin: 1.5em;
}

.user-profile .profile-header .user-image-wrapper .user-image-actions {
  margin-top: 1em;
}

.user-profile .profile-header .active-since {
  display: inline-block;
  position: relative;
  bottom: 6em;
  left: 3em;
}

.user-profile .profile-header .profile-tabs {
  display: inline-block;
  position: relative;
  right: 12em;
}

.user-profile .profile-header .profile-tabs span a {
  color: $grey-normal;
  font-weight: bold;
}

.user-profile .profile-header .profile-tabs span.active a {
  color: $avocado-green;
}

.user-profile .profile-header {
  display: block;
}

.user-profile .user-info {
  display: block;
}

.user-profile .form .form-actions {
  line-height: 3em;
  padding: 1em;
}

.user-profile .form .form-field-group {
  width: 100%;
}

.user-profile .user-info .form fieldset {
  width: 62em;
  margin: 0 auto;
}

.user-profile .user-info .form .form-field.date-field {
  display: inline-block;
}

.user-profile .user-info .form .form-field.date-field select {
  display: inline-block;
  width: 10em;
  margin-right: 1em;
}

.user-profile .user-info .form .form-field.gender-field {
  margin: 0 0 0 5.8em;
}

.user-profile .user-change-pwd .form .form-field {
  margin: 0 auto 1.5em;
  display: block;
  width: 18em;
}

.user-profile .user-change-pwd .form .btn-primary {
  padding: 0.75em 2.5em;
}

@media (max-width: $screen-xs-min) {
  .user-profile .profile-header {
    height: 16em;
  }

  .user-profile .profile-header .active-since {
    left: 1em;
  }

  .user-profile .profile-header .profile-tabs {
    left: 5em;
    width: 14em;
    bottom: 5em;
    line-height: 1.4em;
  }

  .user-profile .profile-header .profile-tabs span {
    display: block;
  }

  .user-profile .profile-header .profile-tabs span.separator {
    display: none;
  }

  .user-profile .form fieldset {
    width: 25em;
    margin: 0 auto;
  }

  .user-profile .user-info .form .form-field.date-field {
    display: inline-block;
    width: 18em;
  }

  .user-profile .user-info .form .form-field.date-field select {
    display: inline-block;
    width: 18em;
    margin-right: 1em;
  }

  .user-profile .user-info .form .form-field.gender-field {
    margin: 0;
  }
}

@media (max-width: $screen-sm-min) {
  .user-profile .profile-header .profile-tabs {
    right: 0;
    margin: 3em auto 0;
  }

  .user-profile .user-info .form fieldset {
    width: 25em;
  }

  .user-profile .form .form-field-group {
    width: 100%;
    margin: 0 auto;
  }

  .user-profile .form .form-field {
    display: block;
  }

  .user-profile .form .form-field input,
  .user-profile .form .form-field select {
    width: 100%;
  }

  .user-profile .user-info .form .form-field.gender-field,
  .user-profile .user-info .form .form-field.date-field {
    display: block;
    width: 22em;
    margin: 0 auto;
  }

  .user-profile .user-info .form .form-field.date-field select {
    display: block;
    width: 100%;
    margin-right: 0;
  }
}

@media (min-width: $screen-md-max) {
  .user-profile .profile-header .profile-tabs {
    right: 0;
    width: 100%;
    margin: 2em auto;
  }

  .user-profile .form .form-field {
    display: inline-block;
    margin: 0 1em;
    width: 18em;
  }

  .user-profile .user-info .form .form-field.date-field {
    display: inline-block;
    width: 34.5em;
    margin-left: 0;
  }
}