<div class="location-plus-favourites">
    <div class="location-holder">
        <form method="post">
            {% csrf_token %}
            <div class="fieldset">
                <label for="location" class="your-location">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i><span>Your Location:</span></label>
                <input id="location" type="text" class="your-location-value"
                       placeholder="Enter your address"/>
                <i class="fa fa-check check" aria-hidden="true"></i>
                <span class="removable remove-location hidden" title="Clear value"></span>
            </div>
        </form>
    </div>
    {% if request.user.is_authenticated %}
        <div class="favorites-holder">
            <a href="{% url 'users:favorites' request.user.id %}">
                <span class="favorites">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    {% endif %}
</div>