<div class="social-icons">
    <span class="social-fb">
        <a href="https://www.facebook.com/StrainRx/" class="facebook-share-link" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
    </span>
    <span class="social-instagram">
        <a href="https://www.instagram.com/strain_rx/" class="google-share-link" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </span>
    <span class="social-twitter">
        <a href="https://twitter.com/strainrx" class="twitter-share-link" target="_blank">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
    </span>
</div>