{% extends "pages/search/strain/wizard.html" %}

{% block wizard-content %}
    <h1>What type of ailments do you want to alleviate?</h1>
    <h3>(Choose up to 5 Effects)</h3>
    <div class="form effects-form">
        <div class="fields effects">
            <div class="form-field-group">
                <div class="form-field">
                    <span class="strain-effect" id="reduce-stress">Reduce Stress</span>
                    <span class="removable hidden"></span>
                </div>
                <div class="form-field">
                    <span class="strain-effect" id="help-depression">Help Depression</span>
                    <span class="removable hidden"></span>
                </div>
                <div class="form-field">
                    <span class="strain-effect" id="relieve-pain">Relieve Pain</span>
                    <span class="removable hidden"></span>
                </div>
                <div class="form-field">
                    <span class="strain-effect" id="reduce-fatigue">Reduce Fatigue</span>
                    <span class="removable hidden"></span>
                </div>
                <div class="form-field">
                    <span class="strain-effect" id="reduce-headaches">Reduce Headaches</span>
                    <span class="removable hidden"></span>
                </div>
            </div>
            <div class="form-field-group">
                <div class="form-field">
                    <span class="strain-effect" id="help-muscles-spasms">Help Muscles Spasms</span>
                    <span class="removable hidden"></span>
                </div>
                <div class="form-field">
                    <span class="strain-effect" id="lower-eye-pressure">Lower Eye Pressure</span>
                    <span class="removable hidden"></span>
                </div>
                <div class="form-field">
                    <span class="strain-effect" id="reduce-nausea">Reduce Nausea</span>
                    <span class="removable hidden"></span>
                </div>
                <div class="form-field">
                    <span class="strain-effect" id="reduce-inflamation">Reduce Inflamation</span>
                    <span class="removable hidden"></span>
                </div>
                <div class="form-field">
                    <span class="strain-effect" id="relieve-cramps">Relieve Cramps</span>
                    <span class="removable hidden"></span>
                </div>
            </div>
            <div class="form-field-group">
                <div class="form-field">
                    <span class="strain-effect" id="resture-appetite">Resture Appetite</span>
                    <span class="removable hidden"></span>
                </div>
                <div class="form-field">
                    <span class="strain-effect" id="help-with-insomnia">Help With Insomnia</span>
                    <span class="removable hidden"></span>
                </div>
                <div class="form-field">
                    <span class="strain-effect" id="help-with-seuzeres">Help With Seuzeres</span>
                    <span class="removable hidden"></span>
                </div>
            </div>
        </div>
        <div class="slider-wrapper hidden">
            <span class="slider-step-label">Marginally Important</span>
            <span class="slider-step-label">Somewhat Important</span>
            <span class="slider-step-label">Important</span>
            <span class="slider-step-label">Very Important</span>
            <span class="slider-step-label">Must Have</span>
            <div class="slider"></div>
        </div>
        <span class="error-message"></span>
        <div class="form-actions">
            <button class="btn-secondary btn-skip-3" type="submit">Skip</button>
            <button class="btn-primary btn-step-3" type="submit">Next</button>
        </div>
    </div>
{% endblock %}
