<script type="x/srx-template" id="search-wizard-step4">
    <div class="search-form-wrapper">
        <h1>Do you want to minimize any possible side effects?</h1>
        <div class="form effects-form">
            <div class="fields effects">
                <% _.each(side_effects, function(se) { %>
                <div class="form-field">
                    <span class="strain-effect" id="<%= _.escape(se.data_name) %>">
                        <%= _.escape(se.display_name) %>
                    </span>
                    <span class="importance-value hidden">5</span>
                    <span class="removable hidden"></span>
                </div>
                <% }); %>
            </div>
            <div class="slider-wrapper hidden">
                <span class="slider-step-label">Not very bothersome</span>
                <span class="slider-step-label">It bothers me a little</span>
                <span class="slider-step-label">It bothers me</span>
                <span class="slider-step-label">It bothers me a lot</span>
                <span class="slider-step-label">Extremely bothersome</span>
                <div class="slider"></div>
            </div>
            <span class="error-message"></span>
            <div class="form-actions">
                <button class="btn-secondary btn-skip-4" type="submit">Skip</button>
                <button class="btn-primary btn-step-4" type="submit" disabled="disabled">Next</button>
                <button class="btn-primary btn-go-back" type="button">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>Back to previous step
                </button>
            </div>
        </div>
    </div>
</script>