{% extends "pages/search/strain/wizard.html" %}

{% load staticfiles i18n %}

{% block wizard-content %}
    <h1>What type of ailments do you want to alleviate?</h1>
    <h3>(Choose up to 5 Effects)</h3>
    <div class="form effects-form">
        <div class="fields effects">
            <div class="form-field-group">
                <div class="form-field step-3">
                    <span class="strain-effect" id="reduce-stress">
                        <span class="benefit-text">Reduce Stress</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
                <div class="form-field step-3">
                    <span class="strain-effect" id="help-depression">
                        <span class="benefit-text">Help Depression</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
                <div class="form-field step-3">
                    <span class="strain-effect" id="relieve-pain">
                        <span class="benefit-text">Relieve<br/>Pain</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
                <div class="form-field step-3">
                    <span class="strain-effect" id="reduce-fatigue">
                        <span class="benefit-text">Reduce Fatigue</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
                <div class="form-field step-3">
                    <span class="strain-effect" id="reduce-headaches">
                        <span class="benefit-text">Reduce Headaches</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
            </div>
            <div class="form-field-group">
                <div class="form-field step-3">
                    <span class="strain-effect" id="help-muscles-spasms">
                        <span class="benefit-text">Help Muscles Spasms</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
                <div class="form-field step-3">
                    <span class="strain-effect" id="lower-eye-pressure">
                        <span class="benefit-text">Lower Eye Pressure</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
                <div class="form-field step-3">
                    <span class="strain-effect" id="reduce-nausea">
                        <span class="benefit-text">Reduce Nausea</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
                <div class="form-field step-3">
                    <span class="strain-effect" id="reduce-inflamation">
                        <span class="benefit-text">Reduce Inflamation</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
                <div class="form-field step-3">
                    <span class="strain-effect" id="relieve-cramps">
                        <span class="benefit-text">Relieve Cramps</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
            </div>
            <div class="form-field-group">
                <div class="form-field step-3">
                    <span class="strain-effect" id="resture-appetite">
                        <span class="benefit-text">Resture Appetite</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
                <div class="form-field step-3">
                    <span class="strain-effect" id="help-with-insomnia">
                        <span class="benefit-text">Help With Insomnia</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
                <div class="form-field step-3">
                    <span class="strain-effect" id="help-with-seuzeres">
                        <span class="benefit-text">Help With Seuzeres</span>
                    </span>
                    <span class="step-3 importance-value hidden">1</span>
                    <span class="step-3 removable hidden"></span>
                </div>
            </div>
        </div>
        <div class="slider-wrapper hidden">
            <span class="slider-step-label">Marginally Important</span>
            <span class="slider-step-label">Somewhat Important</span>
            <span class="slider-step-label">Important</span>
            <span class="slider-step-label">Very Important</span>
            <span class="slider-step-label">Must Have</span>
            <div class="slider"></div>
        </div>
        <span class="error-message"></span>
        <div class="form-actions">
            <button class="btn-secondary btn-skip-3" type="submit"
                    {% if is_2nd_step_skipped %}disabled="disabled"{% endif %}>Skip
            </button>
            <button class="btn-primary btn-step-3" type="submit" disabled="disabled">Next</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/pages/search/strain/search_wizard_base.js' %}"></script>
    <script src="{% static 'js/pages/search/strain/search_wizard_3.js' %}"></script>
    <script type="text/javascript">
        new W.pages.StrainSearchWizard3Page();
    </script>
{% endblock %}