{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}Strain Search{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/search/strain/search.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="strain-search-wrapper">
            <div class="wizard-wrapper">
                <div class="step-wrapper">
                    <span class="wizard-step step-1 active">1</span>
                    <span class="title">Classification</span>
                </div>
                <div class="step-wrapper">
                    <span class="wizard-step step-2 disabled">2</span>
                    <span class="title">Effects</span>
                </div>
                <div class="step-wrapper">
                    <span class="wizard-step step-3 disabled">3</span>
                    <span class="title">Medical benefits</span>
                </div>
                <div class="step-wrapper">
                    <span class="wizard-step step-4 disabled">4</span>
                    <span class="title">Side effects</span>
                </div>
                <input type="hidden" class="current-user-id" value="{{ request.user.id }}">
                <hr/>
            </div>

            <div class="wizard-content-region"></div>

            {% include 'pages/search/strain/wizard_1.html' %}
            {% include 'pages/search/strain/wizard_2.html' %}
            {% include 'pages/search/strain/wizard_3.html' %}
            {% include 'pages/search/strain/wizard_4.html' %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/common/model.js' %}"></script>
    <script src="{% static 'js/common/wizard/wizard_step.js' %}"></script>
    <script src="{% static 'js/common/wizard/wizard.js' %}"></script>
    <script src="{% static 'js/pages/search/strain/search_wizard_step.js' %}"></script>
    <script src="{% static 'js/pages/search/strain/search_wizard_step_1.js' %}"></script>
    <script src="{% static 'js/pages/search/strain/search_wizard_step_2.js' %}"></script>
    <script src="{% static 'js/pages/search/strain/search_wizard_step_3.js' %}"></script>
    <script src="{% static 'js/pages/search/strain/search_wizard_step_4.js' %}"></script>
    <script src="{% static 'js/pages/search/strain/search_wizard.js' %}"></script>
    <script src="{% static 'js/pages/search/strain/search_view.js' %}"></script>
    <script type="text/javascript">
        W.pages.search.strain.SearchView.init();
    </script>
{% endblock %}

{% block modal %}
    <div class="dialog info-dialog sativa-dialog hidden" title="Sativa">
        <span>This is Sativa</span>
    </div>
    <div class="dialog info-dialog hybrid-dialog hidden" title="Hybrid">
        <span>This is Hybrid</span>
    </div>
    <div class="dialog info-dialog indica-dialog hidden" title="Indica">
        <span>This is Indica</span>
    </div>
    <div class="dialog info-dialog just-a-second-dialog hidden" title="Just a second...">
        <div class="dialog-text">
            <span>
                Are you sure you don't want to increase the potency of your selection?
                Consider advancing the slider for a heightened experience of your own choosing.
            </span>
        </div>
        <div class="dialog-actions">
            <div class="additional-section">
                <input type="checkbox" id="do-not-show-again">
                <label for="do-not-show-again">Don't show this again</label>
            </div>
            <div class="buttons-section">
                <button type="button" class="btn-primary dismiss-btn">Dismiss</button>
            </div>
        </div>
    </div>
{% endblock %}

