{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}Business Detail{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/business/business_account.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="business-account-page-wrapper">
            <input type="hidden" class="business-id" value="{{ request.session.business.id }}">
            <div class="trial-header">
                <span>Free Trial - <b>30</b> Days Remaining</span>
            </div>
            <div class="business-account-header">
                <div class="business-image">
                    <div class="image-wrapper">
                        <img class="bus-logo" src="{{ request.session.business_image }}" alt="Logo">
                    </div>
                    <div class="upload-business-image-link-wrapper">
                        <input type="file" id="file" class="upload-business-image"/>
                        <label for="file">+ Upload New</label>
                    </div>
                </div>
                <div class="account-header-menu">
                    <div class="header-menu-item">
                        <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i>
                        <a href="#">Stats</a>
                    </div>
                    <div class="header-menu-item">
                        <i class="fa fa-usd fa-3x" aria-hidden="true"></i>
                        <a href="#">Deals</a>
                    </div>
                    <div class="header-menu-item">
                        <i class="fa fa-star fa-3x" aria-hidden="true"></i>
                        <a href="#">Reviews</a>
                    </div>
                </div>
            </div>
            <div class="account-menu">
                <span class="account-menu-nav-link {% if tab == 'info' %}active{% endif %} separator">
                    <a href="{% url 'businesses:detail' request.session.business.id %}">Business Information</a>
                </span>
                <span class="account-menu-nav-link {% if tab == 'menu' %}active{% endif %} separator">
                    <a href="{% url 'businesses:menu' request.session.business.id %}">Menu</a>
                </span>
                <span class="account-menu-nav-link {% if tab == 'locations' %}active{% endif %} separator">
                    <a href="{% url 'businesses:locations' request.session.business.id %}">Locations</a>
                </span>
                <span class="account-menu-nav-link {% if tab == 'billing' %}active{% endif %} separator">
                    <a href="{% url 'businesses:billing_info' request.session.business.id %}">Billing Information</a>
                </span>
                <span class="account-menu-nav-link {% if tab == 'radius' %}active{% endif %} separator">
                    <a href="{% url 'businesses:delivery_radius' request.session.business.id %}">Delivery Radius</a>
                </span>
                <span class="account-menu-nav-link {% if tab == 'pwd' %}active{% endif %}">
                    <a href="{% url 'businesses:password' request.session.business.id %}">Password</a>
                </span>
            </div>
            <div class="business-account-tab-content">
                {% block business_account_tab_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/pages/business/business_account.js' %}"></script>
    <script src="{% static 'js/pages/business/business_account_view.js' %}"></script>
    <script type="text/javascript">
        W.pages.business.BusinessAccountView.init();
    </script>
{% endblock %}