{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}Business Detail{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/business/business_account.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="business-account-header-background"></div>
    <div class="container business-account-container">
        <div class="business-account-page-wrapper">
            <input type="hidden" class="business-id" value="{{ request.session.business.id }}">
            <div class="business-account-header">
                <div class="business-image">
                    <div class="image-wrapper">
                        {% if request.session.business_image %}
                            <img class="bus-logo" src="{{ request.session.business_image }}">
                        {% else %}
                            <img class="bus-logo" src="{% static 'images/leaf-grey.png' %}">
                        {% endif %}
                    </div>
                </div>
                <div class="business-info">
                    <h2>{{ request.session.business.name }}</h2>
                    {% if primary_location.dispensary and primary_location.delivery %}
                        <span class="location-type">Dispensary, Delivery</span>
                    {% elif primary_location.dispensary %}
                        <span class="location-type">Dispensary</span>
                    {% elif primary_location.delivery %}
                        <span class="location-type">Delivery</span>
                    {% endif %}
                    <div class="address">
                        <span>{{ primary_location.street1 }}</span>
                        <span>{{ primary_location.city }}, {{ primary_location.state }} {{ primary_location.zip_code }}</span>
                    </div>
                    <div class="phone">
                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        <span>Ph: {{ primary_location.phone }}</span>
                    </div>
                    <button type="button" class="btn-secondary btn-edit-info hidden">Edit Info</button>
                </div>
                <div class="account-header-menu hidden">
                    <div class="header-menu-item">
                        <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                        <a href="#">Stats</a>
                    </div>
                    <div class="header-menu-item">
                        <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
                        <a href="#">Deals</a>
                    </div>
                    <div class="header-menu-item">
                        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                        <a href="#">Reviews</a>
                    </div>
                </div>
            </div>
            <div class="account-menu">
                <span class="account-menu-nav-link {% if tab == 'locations' %}active{% endif %}">
                    <a href="{% url 'businesses:locations' request.session.business.id %}">Locations</a>
                </span>
                <span class="account-menu-nav-link {% if tab == 'info' %}active{% endif %}">
                    <a href="{% url 'businesses:detail' request.session.business.id %}">Business Details</a>
                </span>
                <span class="account-menu-nav-link {% if tab == 'menu' %}active{% endif %}">
                    <a href="{% url 'businesses:menu' request.session.business.id %}">Menu</a>
                </span>
            </div>
            <div class="business-account-tab-content">
                {% block business_account_tab_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/pages/business/business_account.js' %}"></script>
    <script src="{% static 'js/pages/business/business_account_view.js' %}"></script>
    <script type="text/javascript">
        W.pages.business.BusinessAccountView.init();
    </script>
{% endblock %}