{% extends "pages/business/business_account_base.html" %}

{% load staticfiles i18n %}

{% block title %}Business Locations{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/business/business_analytics.css' %}" rel="stylesheet">
{% endblock %}

{% block business_account_tab_content %}

<div id="analytics">
    <div id="date-section">
        <label for="from">From</label>
        <input type="text" id="from" name="from">
        <label for="to">to</label>
        <input type="text" id="to" name="to">
        <button id="update">Update</button>
    </div>

    <div id="overall-section">
        <div class="header-label">Overall Statistics</div>
        <table>
            <tr>
                <td></td>
                <td>Page Views</td>
                <td>Calls</td>
                <td>Directions</td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td><b>{{ total_page_views }}</b></td>
                <td><b>{{ total_calls }}</b></td>
                <td><b>{{ total_directions }}</b></td>                   
            </tr>
        </table>

    </div>

    <div id="biz-lookup-section">
        <div class="header-label">Business Lookups</div>

        <div id="biz-lookup-chart"></div>
    </div>    

    <div id="search-section">
        <div class="header-label">Search</div>

        <div id="search-chart"></div>
    </div>    

</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'js/common/parsers.js' %}"></script>
    <script src="{% static 'js/pages/business/business_analytics.js' %}"></script>
    <script type="text/javascript">
        W.Analytics = new W.pages.business.Analytics();
        W.Analytics.drawBizLookupChart({{ chart_biz_lookup|safe }});
        W.Analytics.drawSearchChart({{ chart_search|safe }});
    </script>
{% endblock %}
