<script type="x/srx-template" id="menu-item-template">
    <div class="menu-item-wrapper">
        <input type="hidden" class="menu-item-<%= item.id %>" value="<%= item.id %>">
        <div class="menu-item strains"><%= item.strain_name %></div>
        <div class="menu-item gram"><%= item.price_gram %></div>
        <div class="menu-item eighth"><%= item.price_eighth %></div>
        <div class="menu-item quarter"><%= item.price_quarter %></div>
        <div class="menu-item half"><%= item.price_half %></div>
        <div class="menu-item in-stock">
            <label>
                <% if (item.in_stock) { %>
                <input type="checkbox" class="in-stock-value" id="<%= item.id %>"
                       variety="<%= item.strain_variety %>" checked>
                <% } else { %>
                <input type="checkbox" class="in-stock-value" id="<%= item.id %>"
                       variety="<%= item.strain_variety %>">
                <% } %>
                <span class="check"></span>
            </label>
        </div>
        <div class="menu-item actions">
            <div class="btn-remove-menu-item" id="<%= item.id %>" variety="<%= item.strain_variety %>">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</script>