{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}Marijuana Dispensaries, Easily Find Cannabis Near You{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/dispensary/dispensaries.css' %}" rel="stylesheet">
{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta name="Description"
          content="Marijuana dispensaries near you. Find the best rated, compare prices, or find local deals.">
{% endblock %}

{% block content %}
    <div class="disp-row-01">
        <div class="container">
            <div class="disp-sub-row-01">
                <div class="location-holder">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset>
                            <label for="location" class="your-location">
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Your Location:</label>
                            <input id="location" type="text" class="your-location-value"
                                   placeholder="Enter your address"/>
                            <i class="fa fa-check check" aria-hidden="true"></i>
                            <span class="removable remove-location hidden" title="Clear value"></span>
                        </fieldset>
                    </form>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="favorites-holder">
                        <a href="{% url 'users:favorites' request.user.id %}">
                            <span class="favorites">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="disp-sub-row-02">
                <h1>Find a Dispensary</h1>
                <div class="subtitle-container">
                    <hr/>
                    <p class="subtitle">Search Local Dispensaries by Name</p>
                    <hr/>
                </div>
                <div class="search-box">
                    <div class="search-form">
                        <div class="form-field dispensary-name-field">
                            <label for="disp-lookup" class="disp-lookup-label">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </label>
                            <input id="disp-lookup" class="lookup-input" type="text" placeholder="Search Dispensaries by Name"/>
                            <div class="payloads-region"></div>
                        </div>
                        <fieldset>
                            <label for="disp-location" class="disp-location-label">
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            </label>
                            <input id="disp-location" type="text" class="disp-location-value"
                                   placeholder="Filter by Location"/>
                            <span class="removable remove-location hidden" title="Clear value"></span>
                        </fieldset>
                        <button class="btn-primary lookup-submit" type="button">Find Dispensary</button>
                    </div>
                </div>
                <a class="find-delivery" href="#">or Find Delivery Service</a>
            </div>
        </div>
    </div>
    <div class="dispensaries-list-container container">
        <h2>Dispensaries</h2>
        <div class="social-icons">
            <span class="social-fb">
                <a href="#" class="facebook-share-link" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
            </span>
            <span class="social-google">
                <a href="#" class="google-share-link" target="_blank">
                    <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                </a>
            </span>
            <span class="social-twitter">
                <a href="#" class="twitter-share-link" target="_blank">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
            </span>
        </div>
        <div class="breadcrumbs">
            <ol>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    <span class="arrow">></span>
                </li>
                <li class="active">Dispensaries</li>
            </ol>
        </div>
        <div class="text">
            StrainRx is dedicated to helping cannabis users find the optimal strains to medicate with, depending on
            their unique needs and conditions. We’ll help you make sense of the thousands of strains and countless
            vendors across the 28 states (plus the District of Columbia) where marijuana is permitted for medical and/or
            recreational use.
        </div>
        <div class="text">
            Please note that each state has its own restrictions on possessing marijuana lawfully and users should
            understand and adhere to the rules and regulations that govern their respective city and state.
        </div>
        <div class="text">
            Users can find information on dispensaries in the following states:
        </div>
        <h3>Dispensaries by State</h3>
        {% for s in states %}
            <div class="states-wrapper">
                <a href="{% url 'businesses:dispensaries_state_list' s.abbreviation|lower %}">
                    {% if s.full_name %}{{ s.full_name }}{% else %}{{ s.abbreviation }}{% endif %}</a>
                <span class="dash">-</span>
                <div class="description">
                    {% if s.description %}{{ s.description|safe }}{% else %}No data about this state{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'common/dispensary_lookup.html' %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/pages/dispensary/dispensary_lookup.js' %}"></script>
    <script src="{% static 'js/pages/dispensary/dispensaries.js' %}"></script>
    <script type="text/javascript">
        var DispensaryPage = new W.pages.dispensary.Dispensaries({
            location: {% if request.user.is_authenticated %}
                {{ request.user.get_location_json | safe }} {% else %} null {% endif %},
            authenticated: '{{ request.user.is_authenticated }}' == 'True',
            userId: {% if request.user.is_authenticated %} {{ request.user.id }} {% else %} null {% endif %}
        });
    </script>

{% endblock %}
