{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}
    Dispensaries in {{ active_city.full_name }},
    {% if active_state.full_name %}{{ active_state.full_name }}{% else %}{{ active_state.abbreviation }}{% endif %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/dispensary/dispensaries.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="dispensaries-list-container container">
        <h1>Dispensaries in {{ active_city.full_name }}</h1>
        <div class="social-icons">
            <span class="social-fb">
                <a href="#" class="facebook-share-link" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
            </span>
            <span class="social-google">
                <a href="#" class="google-share-link" target="_blank">
                    <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                </a>
            </span>
            <span class="social-twitter">
                <a href="#" class="twitter-share-link" target="_blank">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
            </span>
        </div>
        <div class="breadcrumbs">
            <ol>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    <span class="arrow">></span>
                </li>
                <li>
                    <a href="{% url 'businesses:dispensaries_list' %}">Dispensaries</a>
                    <span class="arrow">></span>
                </li>
                <li>
                    <a href="{% url 'businesses:dispensaries_state_list' active_state.abbreviation|lower %}">{{ active_state.abbreviation|upper }}</a>
                    <span class="arrow">></span>
                </li>
                <li class="active">{{ active_city.full_name }}</li>
            </ol>
        </div>
        <div class="text">
            {% if active_city.description %}
                {{ active_city.description|safe }}
            {% else %}
                No data for this city
            {% endif %}
        </div>
        <div class="pager">
            <span class="page-letter active">A</span>
            <span class="page-letter">B</span>
            <span class="page-letter">C</span>
            <span class="page-letter">D</span>
            <span class="page-letter">E</span>
            <span class="page-letter">F</span>
            <span class="page-letter">G</span>
            <span class="page-letter">H</span>
            <span class="page-letter">I</span>
            <span class="page-letter">J</span>
            <span class="page-letter">K</span>
            <span class="page-letter">L</span>
            <span class="page-letter">M</span>
            <span class="page-letter">N</span>
            <span class="page-letter">O</span>
            <span class="page-letter">P</span>
            <span class="page-letter">Q</span>
            <span class="page-letter">R</span>
            <span class="page-letter">S</span>
            <span class="page-letter">T</span>
            <span class="page-letter">U</span>
            <span class="page-letter">V</span>
            <span class="page-letter">W</span>
            <span class="page-letter">X</span>
            <span class="page-letter">Y</span>
            <span class="page-letter">Z</span>
        </div>
        <div class="dispensaries-wrapper"></div>
    </div>

    {% include "pages/dispensary/dispensaries_city_list_item_template.html" %}

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/pages/dispensary/dispensaries_list.js' %}"></script>
    <script src="{% static 'js/pages/dispensary/dispensaries_list_view.js' %}"></script>
    <script type="text/javascript">
        W.pages.dispensary.DispensariesListView.init({
            view: 'city',
            active_city: '{{ active_city.full_name_slug }}',
            active_state: '{{ active_state.abbreviation|lower }}'
        });
    </script>
{% endblock %}
