{% extends "base.html" %}

{% load i18n %}
{% load staticfiles i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}Sign Out{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-block-wrapper">
            <h1>Sign Out</h1>
            <span>Are you sure you want to sign out?</span>

            <form class="login" method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-primary btn-sign-out" type="submit">Sign Out</button>
            </form>
        </div>
    </div>
{% endblock %}

