{% extends "base.html" %}

{% load i18n %}
{% load staticfiles i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}Sign In{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        {% if request.GET.t %}
            <div class="pwd-reset-block-wrapper">
                <h1>Password Reset</h1>
                <span class="forgot-message">
                </span>
                <form class="password-reset hidden">
                    <fieldset>
                        <div class="form-group row">
                            <input type="hidden" class="uid" value="{{ request.GET.uid }}">
                            <input type="hidden" class="t" value="{{ request.GET.t }}">
                            <input type="password" class="form-field" id="pwd" maxlength="30" name="pwd"
                                   placeholder="Enter password" autofocus="autofocus">
                            <input type="password" class="form-field" id="pwd2" maxlength="30" name="pwd2"
                                   placeholder="Repeat password">
                        </div>
                        <span class="error-message"></span>
                    </fieldset>
                    <button class="btn-primary btn-password-reset" type="submit">Next</button>
                </form>
            </div>
        {% else %}
            <div class="pwd-reset-block-wrapper">
                <h1>Password Reset</h1>
                <span class="forgot-message">
                    <span>Forgotten your password?</span>
                    <span>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</span>
                </span>
                <form class="password-reset">
                    <fieldset>
                        <div class="form-group row">
                            <input type="text" autofocus="autofocus" id="login" maxlength="254" name="email"
                                   placeholder="Enter email address">
                        </div>
                        <span class="error-message"></span>
                    </fieldset>
                    <button class="btn-primary btn-send-password-reset" type="submit">Next</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/pages/users/user_login.js' %}"></script>
    <script src="{% static 'js/modules/user_login.js' %}"></script>
    <script>
        W.users.Login.init();
    </script>
{% endblock %}

