{% extends "account/password_reset.html" %}

{% block content %}
    <div class="container">
        {% if request.GET.done == 'all_right' %}
            <div class="pwd-reset-block-wrapper">
                <h1>Password Reset</h1>
                <span class="forgot-message">
                    <span>Well done.</span>
                    <span>Now you can <a href="{% url 'account_login' %}">login</a>.</span>
                </span>
            </div>
        {% else %}
            <div class="pwd-reset-block-wrapper">
                <h1>Password Reset</h1>
                <span class="forgot-message">
                    <span>We have sent you an e-mail.</span>
                    <span>Please, check it and navigate by link to confirm that you initiated this action.</span>
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}

