.sign-up-wrapper {
    text-align: center;
    color: #8e8e93;
}

.sign-up-wrapper input {
    display: block;
    margin: 0 auto 1em;
}

.sign-up-form-wrapper {
    margin-top: 2em;
    padding-bottom: 6em;
}

.sign-up-form-wrapper fieldset {
    padding-bottom: 2em;
}

.sign-up-form-wrapper label {
    display: inline-block;
}

.sign-up-form-wrapper label > input + span.check {
    cursor: pointer;
}

.sign-up-form-wrapper span.check {
    display: inline-block;
    margin-right: 0.5em;
}

.sign-up-form-wrapper label > span.check {
    width: 2em;
    height: 2em;
    border: 1px solid #aaa8a8;
    border-radius: 1em;
    vertical-align: middle;
}

.sign-up-form-wrapper label > input {
    position: absolute;
    visibility: hidden;
    width: 2em;
    height: 2em;
    padding: 0.35em 0;
}

.sign-up-form-wrapper label > input:checked + span:before {
    content: '\2713';
    display: block;
    width: 2em;
    height: 2em;
    padding: 0.35em 0;
    color: #10b3dc;
}

.sign-up-form-wrapper .pwd-req {
    display: block;
    margin: 1em auto 3em;
}

.sign-up-form-wrapper .message-1 {
    display: block;
    margin: 3em auto;
    width: 50em;
    line-height: 2em;
}

.sign-up-form-wrapper .message-2 {
    display: block;
    margin: 3em auto;
    width: 50em;
    line-height: 2em;
}

.wizard-wrapper {
    padding: 2em 1em;
    width: 30em;
    margin: 0 auto;
}

.wizard-wrapper hr {
    z-index: 1;
    width: 22em;
    margin: -1em auto 0 auto;
}

.wizard-step {
    border: 1px solid #aaa8a8;
    background: #fff;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.4em;
    margin: 0 1.5em;
    z-index: 2;
}

.wizard-step a {
    color: #aaa8a8;
}

.wizard-step.active {
    border: 2px solid #8e8e93;
}

.wizard-step.finished,
.wizard-step.passed {
    border: 2px solid #8e8e93;
    background: #6bc331;
}

.wizard-step.finished {
    pointer-events: none;
    cursor: default;
}

.wizard-step.finished a,
.wizard-step.passed a {
    color: #fff;
}

.wizard-step.active a {
    color: #1e1e1e;
}

.sign-up-b2b-wrapper {
    padding: 0 1em 3em;
    margin-top: -2em;
}

@media (max-width: 1024px) {
    .sign-up-form-wrapper .message-1,
    .sign-up-form-wrapper .message-2 {
        width: 22em;
    }
}
